<div class="dropdown {{customClass}}">
    <button class="dropdown__btn" type="button">
        <span class="dropdown__current">Все</span>
        <svg class="icon">
            <use xlink:href="#icon-arrow_s"></use>
        </svg>
    </button>
    <ul class="dropdown__list">
        <li class="dropdown__item" data-value="0"><a href="#">Все</a></li>
        <li class="dropdown__item" data-value="1"><a href="#">Взлётка</a></li>
        <li class="dropdown__item" data-value="2"><a href="#">третья опция</a></li>
        <li class="dropdown__item" data-value="3"><a href="#">Ещё один вариант</a></li>
        <li class="dropdown__item" data-value="4"><a href="#">Умка центр</a></li>
    </ul>
    <input type="text" name="select" value="0" class="dropdown__input_hidden">
</div>