<div class="pagination">
    <div class="container">
        <button class="pagination__btn btn pagination__btn_left">
            <svg class="icon">
                <use xlink:href="#icon-arrow_s"></use>
            </svg>
        </button>

        <div class="pagination__container">
            <a class="pagination__page bodytext_4" href="#">1</a>
            <a class="pagination__page _active bodytext_4" href="#">2</a>
            <a class="pagination__page bodytext_4" href="#">3</a>
            <p class="pagination__page _inactive bodytext_4">...</p>
            <a class="pagination__page bodytext_4" href="#">12</a>
        </div>

        <button class="pagination__btn btn pagination__btn_right">
            <svg class="icon">
                <use xlink:href="#icon-arrow_s"></use>
            </svg>
        </button>
    </div>
</div>