<div class="merch__item {{merchItemClass}}">
    <img src="img/content/merch1.jpg" alt="" class="merch__item__image">
    <div class="merch__item__text">
        <p class="merch__item__price">2 990 ₽</p>
        <p class="merch__item__title">Футболка «перелом» беж ещё название в 2 строки</p>
    </div>
</div>