@use '~/styles/colors';

.template,
.information,
.confidentiality,
.test {
  .header._desktop {
    box-shadow: none;
  }

  &__wrapper {
    padding: 8px 0 0;

    @media (max-width: 768px) {
      padding: 0;
    }
  }

  .content {
    h3 {
      @media (max-width: 768px) {
        margin-bottom: 24px;
      }
    }

    h4 {
      color: colors.$grey900;
      margin: 24px 0;
    }

    p {
      & + h4 {
        margin-top: 64px;
      }
    }
  }
}
