{{#> common/body
title=pages.template.pageTitle
class="template page"
}}

{{> layout/header}}

<main class="main">

    <div class="container">
        {{> menu/bottom menuClass="_desktop" }}
    </div>

    <section class="template__wrapper content">
        <div class="container">
            <div class="content__tight">
                <div class="block">
                    <h1 class="title_3">Основные сведения</h1>
                    <p>Текст рыба. Малыши и родители будут в восторге, потому что в этот день мы устроим много развивающих, познавательных и развлекательных занятий.Здесь можно будет трогать, рассыпать, переливать, рисовать, собирать, разбирать, стучать, проползать, прыгать, играть… И это не хулиганство и вседозволенность, а самое настоящее развитие!Вас ждет яркая насыщенная программа: Малыши и родители будут в восторге, потому что в этот день мы устроим много развивающих, познавательных и развлекательных занятий.Здесь можно будет трогать, рассыпать, переливать, рисовать, собирать, разбирать, стучать, проползать, прыгать, играть… И это не хулиганство и вседозволенность, а самое настоящее развитие!Вас ждет яркая насыщенная программа:</p>
                    <h2>Заголовок H2</h2>
                    <h3>Заголовок H3, он всегда uppercase</h3>
                    <p>Малыши и родители будут в восторге, потому что в этот день мы устроим много развивающих, познавательных и развлекательных занятий.Здесь можно будет трогать, рассыпать, переливать, рисовать, собирать, разбирать, стучать, проползать, прыгать, играть… И это не хулиганство и вседозволенность, а самое настоящее развитие!Вас ждет яркая насыщенная программа:</p>
                    <ol>
                        <li>Большая сенсорная полянка, на которой будем экспериментировать с разными материалами
                            <ol>
                                <li>Пункт 1</li>
                                <li>Пункт 2</li>
                                <li>Пункт 3</li>
                            </ol>
                        </li>
                        <li>Пункт 2</li>
                        <li>Пункт 3</li>
                        <li>Пункт 4</li>
                    </ol>
                    <h4>Заголовок H4</h4>
                    <ul>
                        <li>Пункт 1</li>
                        <li>Пункт 2</li>
                        <li>Пункт 3</li>
                    </ul>
                </div>

                <div class="block">
                    <h5>Заголовок H5</h5>
                    <table>
                        <thead>
                            <tr>
                                <th>Заголовок</th>
                                <th>Заголовок</th>
                                <th>Заголовок</th>
                                <th>Заголовок</th>
                                <th>Заголовок</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1 колонка 1 строка</td>
                                <td>2 колонка 1 строка</td>
                                <td>3 колонка 1 строка</td>
                                <td>4 колонка 1 строка</td>
                                <td>5 колонка 1 строка</td>
                            </tr>
                            <tr>
                                <td>1 колонка 2 строка</td>
                                <td>2 колонка 2 строка</td>
                                <td>3 колонка 2 строка</td>
                                <td>4 колонка 2 строка</td>
                                <td>5 колонка 2 строка</td>
                            </tr>
                            <tr>
                                <td>1 колонка 3 строка</td>
                                <td>2 колонка 3 строка</td>
                                <td>3 колонка 3 строка</td>
                                <td>4 колонка 3 строка</td>
                                <td>5 колонка 3 строка</td>
                            </tr>
                            <tr>
                                <td>1 колонка 4 строка</td>
                                <td>2 колонка 4 строка</td>
                                <td>3 колонка 4 строка</td>
                                <td>4 колонка 4 строка</td>
                                <td>5 колонка 4 строка</td>
                            </tr>
                            <tr>
                                <td>1 колонка 5 строка</td>
                                <td>2 колонка 5 строка</td>
                                <td>3 колонка 5 строка</td>
                                <td>4 колонка 5 строка</td>
                                <td>5 колонка 5 строка</td>
                            </tr>
                            <tr>
                                <td>1 колонка 6 строка</td>
                                <td>2 колонка 6 строка</td>
                                <td>3 колонка 6 строка</td>
                                <td>4 колонка 6 строка</td>
                                <td>5 колонка 6 строка</td>
                            </tr>
                            <tr>
                                <td>1 колонка 7 строка</td>
                                <td>2 колонка 7 строка</td>
                                <td>3 колонка 7 строка</td>
                                <td>4 колонка 7 строка</td>
                                <td>5 колонка 7 строка</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="block">
                    <a href="#" class="document document_doc">Ссылка на документ</a>
                    <a href="#" class="document document_pdf">Ссылка на документ</a>
                    <a href="#" class="document document_png">Ссылка на документ</a>
                </div>

                <div class="block">
                    <a href="#" class="link">Просто ссылка</a>
                    <a href="#" class="link">Просто ссылка</a>
                    <a href="#" class="link">Просто ссылка</a>
                </div>

                <div class="block">
                    <img src="img/content/test2.jpg" alt="">
                </div>

                <div class="block">
                    {{>video/video-open }}
                </div>
            </div>
        </div>
    </section>

</main>

{{> layout/footer}}
{{/common/body}}