<div class="menu">
    <a href="#" class="menu__item">Инфо</a>
    <a href="#" class="menu__item">Фото</a>
    <a href="#" class="menu__item">Творчество</a>
    <a href="#" class="menu__item">Мерч</a>
    <a href="#" class="menu__item">Контакты</a>
</div>