<div class="menu">
    <a href="#" class="menu__item">Инфо</a>
    <a href="#" class="menu__item">Медиа</a>
    <a href="#" class="menu__item">Мерч</a>
    <a href="#" class="menu__item">Контакты</a>
</div>