<div class="menu menu_main {{menuClass}}" itemscope itemtype="http://schema.org/SiteNavigationElement">
    <ul class="menu__list">
        <li class="menu__list__item">
            <a href="#1" class="menu__list__link" itemprop="url">Детские центры</a>
            <meta itemprop="name" content="Детские центры"/>
        </li>
        <li class="menu__list__item">
            <a href="#2" class="menu__list__link" itemprop="url">Умка школы</a>
            <meta itemprop="name" content="Умка школы"/>
        </li>
        <li class="menu__list__item">
            <a href="#3" class="menu__list__link" itemprop="url">
                <span>О нас</span>
                <meta itemprop="name" content="О нас"/>
                <svg class="icon menu__list__icon">
                    <use xlink:href="#icon-arrow_s"></use>
                </svg>
            </a>
            <ul class="menu__sublist">
                <li class="menu__sublist__item">
                    <a href="#4" class="menu__sublist__link" itemprop="url">Умка школы</a>
                    <meta itemprop="name" content="Умка школы" />
                </li>
                <li class="menu__sublist__item">
                    <a href="#5" class="menu__sublist__link" itemprop="url">
                        <span>Умка школы</span>
                        <meta itemprop="name" content="Умка школы"/>
                        <svg class="icon menu__sublist__icon">
                            <use xlink:href="#icon-arrow_s"></use>
                        </svg>
                    </a>
                    <ul class="menu__sublist">
                        <li class="menu__sublist__item">
                            <a href="#6" class="menu__sublist__link" itemprop="url">Сабитем1</a>
                            <meta itemprop="name" content="Умка школы"/>
                        </li>
                        <li class="menu__sublist__item">
                            <a href="#7" class="menu__sublist__link" itemprop="url">Сабитем2</a>
                            <meta itemprop="name" content="Умка школы"/>
                        </li>
                    </ul>
                </li>
                <li class="menu__sublist__item">
                    <a href="#8" class="menu__sublist__link" itemprop="url">
                        <span>Умка школы123</span>
                        <meta itemprop="name" content="Умка школы123"/>
                        <svg class="icon menu__sublist__icon">
                            <use xlink:href="#icon-arrow_s"></use>
                        </svg>
                    </a>
                    <ul class="menu__sublist">
                        <li class="menu__sublist__item">
                            <a href="#9" class="menu__sublist__link" itemprop="url">Сабитем3</a>
                            <meta itemprop="name" content="Сабитем3"/>
                        </li>
                        <li class="menu__sublist__item">
                            <a href="#10" class="menu__sublist__link" itemprop="url">Сабитем4</a>
                            <meta itemprop="name" content="Сабитем4"/>
                        </li>
                    </ul>
                </li>
                <li class="menu__sublist__item">
                    <a href="#11" class="menu__sublist__link" itemprop="url">Умка школы</a>
                    <meta itemprop="name" content="Умка школы"/>
                </li>
            </ul>
        </li>
        <li class="menu__list__item">
            <a href="#12" class="menu__list__link" itemprop="url">Партнёрам</a>
            <meta itemprop="name" content="Партнёрам"/>
        </li>
        <li class="menu__list__item">
            <a href="#13" class="menu__list__link" itemprop="url">Проекты</a>
            <meta itemprop="name" content="Проекты"/>
        </li>
        <li class="menu__list__item">
            <a href="#14" class="menu__list__link" itemprop="url">Контакты</a>
            <meta itemprop="name" content="Контакты"/>
        </li>
    </ul>
</div>