<div class="menu menu_main {{menuClass}}" itemscope itemtype="http://schema.org/SiteNavigationElement">
    <ul class="menu__list">
        <li class="menu__list__item">
            <a href="#1" class="menu__list__link">Детские центры</a>
        </li>
        <li class="menu__list__item">
            <a href="#2" class="menu__list__link">Умка школы</a>
        </li>
        <li class="menu__list__item">
            <a href="#3" class="menu__list__link">
                <span>О нас</span>
                <svg class="icon menu__list__icon">
                    <use xlink:href="#icon-arrow_s"></use>
                </svg>
            </a>
            <ul class="menu__sublist">
                <li class="menu__sublist__item">
                    <a href="#4" class="menu__sublist__link">Умка школы</a>
                </li>
                <li class="menu__sublist__item">
                    <a href="#5" class="menu__sublist__link">
                        <span>Умка школы</span>
                        <svg class="icon menu__sublist__icon">
                            <use xlink:href="#icon-arrow_s"></use>
                        </svg>
                    </a>
                    <ul class="menu__sublist">
                        <li class="menu__sublist__item">
                            <a href="#6" class="menu__sublist__link">Сабитем1</a>
                        </li>
                        <li class="menu__sublist__item">
                            <a href="#7" class="menu__sublist__link">Сабитем2</a>
                        </li>
                    </ul>
                </li>
                <li class="menu__sublist__item">
                    <a href="#8" class="menu__sublist__link">
                        <span>Умка школы123</span>
                        <svg class="icon menu__sublist__icon">
                            <use xlink:href="#icon-arrow_s"></use>
                        </svg>
                    </a>
                    <ul class="menu__sublist">
                        <li class="menu__sublist__item">
                            <a href="#9" class="menu__sublist__link">Сабитем3</a>
                        </li>
                        <li class="menu__sublist__item">
                            <a href="#10" class="menu__sublist__link">Сабитем4</a>
                        </li>
                    </ul>
                </li>
                <li class="menu__sublist__item">
                    <a href="#11" class="menu__sublist__link">Умка школы</a>
                </li>
            </ul>
        </li>
        <li class="menu__list__item">
            <a href="#12" class="menu__list__link">Партнёрам</a>
        </li>
        <li class="menu__list__item">
            <a href="#13" class="menu__list__link">Проекты</a>
        </li>
        <li class="menu__list__item">
            <a href="#14" class="menu__list__link">Контакты</a>
        </li>
    </ul>
</div>