<div class="menu menu_top {{menuClass}}">
    <ul class="menu__list">
        <li class="menu__list__item">
            <a href="#" class="menu__list__link">
                <span>Родителям</span>
                <svg class="icon menu__list__icon">
                    <use xlink:href="#icon-arrow_s"></use>
                </svg>
            </a>
            <ul class="menu__sublist">
                <li class="menu__sublist__item">
                    <a href="#" class="menu__sublist__link">Умка школы</a>
                </li>
                <li class="menu__sublist__item">
                    <a href="#" class="menu__sublist__link">Умка школы</a>
                </li>
            </ul>
        </li>
        <li class="menu__list__item">
            <a href="#" class="menu__list__link">Партнёрам</a>
        </li>
    </ul>
</div>