{{#> common/body
title=pages.contacts.pageTitle
class="contacts page"
}}

{{> layout/header}}

<main class="main">
    {{> breadcrumbs/index items=pages.contacts.breadcrumbs }}
    {{> block-cta/left dataPopup="excursion" }}
</main>

{{> layout/footer}}
{{/common/body}}