<section class="gallery-block">
    <div class="container">
        <div class="gallery-block__wrapper">
            <div class="gallery-block__left">
                <h3 class="gallery-block__title title_3">Галерея</h3>
                <p class="gallery-block__text subtitle">Посмотрите как мы проводим время на занятиях</p>
                <div class="gallery-block__photographer">
                    <p class="gallery-block__photographer__text bodytext_s">В штате работает профессиональный фотограф. Фотографируем занятия, выездные мероприятия, прогулки, утренники, праздники и Дни рождения.</p>
                </div>
            </div>
            <div class="gallery-block__right">
                {{> gallery/index }}
            </div>
        </div>

    </div>
</section>