<div id="media-popup" class="popup popup_media">
    <div class="popup__wrapper">
        <div class="popup__close-area"></div>
        <div class="popup__block">
            <button class="popup__close">
                <svg class="popup__close__icon icon">
                    <use xlink:href="#icon-close"></use>
                </svg>
            </button>
            <div class="popup__content">
                <img src="" alt="" class="popup__media__content">
                <video src="" alt="" class="popup__media__content" controls></video>
                <iframe src="" alt="" class="popup__media__content"></iframe>
            </div>

            <div class="popup__navigation">
                <div class="popup__arrows">
                    <button class="btn popup__arrow popup__arrow_left">
                        <svg class="icon">
                            <use xlink:href="#icon-arrow"></use>
                        </svg>
                    </button>
                    <button class="btn popup__arrow popup__arrow_right">
                        <svg class="icon">
                            <use xlink:href="#icon-arrow"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>