<div id="success" class="popup popup_success">
    <span class="_open-popup" data-target-id="success" style="display: none"></span>
    <div class="popup__wrapper">
        <div class="popup__close-area"></div>
        <div class="popup__block">
            <button class="popup__close">
                <svg class="icon">
                    <use xlink:href="#icon-close"></use>
                </svg>
            </button>
            <div class="popup__content">
                <h4 class="popup__title title_4">Заявка успешно отправлена</h4>
                <p class="popup__text bodytext_l">Менеджер обработает Вашу заявку и отправит счет на Вашу почту в ближайшее время.</p>
                <button class="popup__btn btn btn_square btn_primary btn_close">Ок</button>
            </div>
        </div>
    </div>
</div>