$purple: #50398c;
$orange: #e99500;
$pink: #df3577;
$blue: #0097b9;
$grey900: #2d2c34;
$grey600: #656566;
$grey300: #93999f;
$grey200: #c3c3c3;
$grey100: #f8f7fb;
$grey-bg: #f2effa;
$white: #fff;
$red: #e54338;
$yellow: #efb55f;
$green: #40bd88;
$skiey: #64aac8;

// тёмная тема

$black: #070707;
$dark-bg: #121212;
$dark-grey: #b1b1b1;
$white: #fff;
