// Cygre

@font-face {
  font-display: swap;
  font-family: Cygre;
  font-stretch: normal;
  font-style: normal;
  font-weight: 700;
  src: url('/static/fonts/Cygre/Cygre-Bold.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: Cygre;
  font-stretch: normal;
  font-style: normal;
  font-weight: 600;
  src: url('/static/fonts/Cygre/Cygre-SemiBold.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: Cygre;
  font-stretch: normal;
  font-style: normal;
  font-weight: 400;
  src: url('/static/fonts/Cygre/Cygre-Regular.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: Cygre;
  font-stretch: normal;
  font-style: normal;
  font-weight: 100;
  src: url('/static/fonts/Cygre/Cygre-Thin.ttf') format('truetype');
}
