<footer class="footer">
    <div class="footer__top container">
        <div class="footer__top__left">
            {{> menu/index }}
        </div>
        <div class="footer__top__right">
            <div class="footer__social">
                <a href="#" class="footer__social__item">
                    <svg class="icon">
                        <use xlink:href="#icon-tg"></use>
                    </svg>
                </a>
                <a href="#" class="footer__social__item">
                    <svg class="icon">
                        <use xlink:href="#icon-vk"></use>
                    </svg>
                </a>
            </div>
            <p class="footer__copyright">© 2025 aikko. Все права защищены.</p>
        </div>
    </div>


    <div class="footer__bottom">
        <a href="/" class="footer__logo">
            <svg class="footer__bottom__image">
                <use xlink:href="#footer-img"></use>
            </svg>
        </a>
        {{!-- <img src="img/decor/footer__text_.svg" alt=""> --}}
        {{!-- <svg class="footer__bottom__image">
            <use xlink:href="#footer-text"></use>
        </svg> --}}
    </div>
</footer>