<header class="header _desktop">
    <div class="container">
        <div class="header">
            <a class="header__logo logo" href="all.html">
                <img src="img/logo.svg" alt="" class="header__logo__image">
                <p class="header__logo__text">Школа в мире <br>От года до совершеннолетия</p>
            </a>
            <div class="header__top__menu">
                {{> menu/index }}
            </div>

        </div>
    </div>
</header>