@use '~/styles/colors';

.header {
  $this: &;

  display: flex;
  left: 0;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;

  &__logo {
    display: block;
    height: 80px;
    width: 180px;

    &__image {
      fill: colors.$white;
      height: 100%;
      object-fit: contain;
      width: 100%;
    }
  }
}
