{{#> common/body
title=pages.main-page.pageTitle
class="main-page page"
}}

{{> layout/header}}

<main class="main">

    <div class="sticky">
        <section class="main-page__slider sticky__block">
            {{> block-slider/index sliderClass="swiper_dark" sliderPopupData="excursion" }}
        </section>
    </div>

    <section class="main-page__directions">
        <div class="container">
            <h3 class="main-page__directions__title title_3"><b>Направления</b> нашей деятельности</h3>
            <div class="main-page__directions__list cols">
                <a href="#" class="main-page__directions__item cols__item_3">
                    <img src="img/decor/decor-directions1.svg" alt="" class="main-page__directions__item__image">
                    <p class="main-page__directions__item__title subtitle_upp">Детские центры</p>
                    <p class="main-page__directions__item__label label label_orange bodytext_m bodytext_m_medium">1 - 7 лет</p>
                    <div class="main-page__directions__item__btn btn_round btn">
                        <svg class="icon">
                            <use xlink:href="#icon-arrow"></use>
                        </svg>
                    </div>
                </a>
                <a href="#" class="main-page__directions__item cols__item_3">
                    <img src="img/decor/decor-directions1.svg" alt="" class="main-page__directions__item__image">
                    <p class="main-page__directions__item__title subtitle_upp">Детские центры</p>
                    <p class="main-page__directions__item__label label label_orange bodytext_m bodytext_m_medium">1 - 7 лет</p>
                    <div class="main-page__directions__item__btn btn_round btn">
                        <svg class="icon">
                            <use xlink:href="#icon-arrow"></use>
                        </svg>
                    </div>
                </a>
                <a href="#" class="main-page__directions__item cols__item_3">
                    <img src="img/decor/decor-directions2.svg" alt="" class="main-page__directions__item__image">
                    <p class="main-page__directions__item__title subtitle_upp">Детские центры</p>
                    <p class="main-page__directions__item__label label label_blue bodytext_m bodytext_m_medium">7 - 17 лет</p>
                    <div class="main-page__directions__item__btn btn_round btn">
                        <svg class="icon">
                            <use xlink:href="#icon-arrow"></use>
                        </svg>
                    </div>
                </a>
                <a href="#" class="main-page__directions__item cols__item_3">
                    <img src="img/decor/decor-directions3.svg" alt="" class="main-page__directions__item__image">
                    <p class="main-page__directions__item__title subtitle_upp">Детские центры</p>
                    <p class="main-page__directions__item__label label label_purple bodytext_m bodytext_m_medium">для детей и родителей</p>
                    <div class="main-page__directions__item__btn btn_round btn">
                        <svg class="icon">
                            <use xlink:href="#icon-arrow"></use>
                        </svg>
                    </div>
                </a>
            </div>
        </div>
    </section>

    <section class="main-page__leader">
        <div class="container">
            <div class="main-page__leader__cols cols">
                <div class="main-page__leader__cols__item cols__item_2">
                    <h3 class="main-page__leader__title title_3">
                        <span class="color_orange">У</span>
                        <span class="color_pink">м</span>
                        <span class="color_purple">к</span>
                        <span class="color_blue">а</span> - лидер в частном образовании с 2002 года
                    </h3>
                </div>
                <div class="main-page__leader__cols__item cols__item_2">
                    <p class="main-page__leader__subtitle subtitle">Самое мощное сообщество единомышленников в образовании больше 4 тысяч семей обращаются в Умку за воспитанием и образованием детей.</p>
                    <p class="main-page__leader__subtitle subtitle">Самое мощное сообщество единомышленников в образовании больше 4 тысяч семей обращаются в Умку за воспитанием и образованием детей.</p>
                </div>
            </div>
            <div class="main-page__leader__cards cols">
                <div class="main-page__leader__cards__item cols__item_2">
                    <h4 class="main-page__leader__cards__item__title title_4">Мы формируем рынок образовательных услуг и продвигаем сферу частного образования.</h4>
                    <h4 class="main-page__leader__cards__item__text title_4">Многие родители не понимают разницы и не могут выбирать подходящее именно их ребенку образование. Мы делаем это и даем критерии выбора, показываем отличие хорошего качественного образования и помогаем определиться с направлением для ребенка.</h4>
                </div>
                <div class="main-page__leader__cards__item cols__item_2">
                    <h4 class="main-page__leader__cards__item__title title_4">Мы превращаем таланты в профессию для счастливой реализации в жизни</h4>
                    <h4 class="main-page__leader__cards__item__text title_4">Многие родители не понимают разницы и не могут выбирать подходящее именно их ребенку образование. Мы делаем это и даем критерии выбора, показываем отличие хорошего качественного образования и помогаем определиться с направлением для ребенка.</h4>
                </div>
            </div>
            <div class="main-page__leader__cols cols">
                <div class="main-page__leader__cols__item cols__item_2">
                    <h3 class="main-page__leader__title title_3">
                        <span class="color_orange">У</span>
                        <span class="color_pink">м</span>
                        <span class="color_purple">к</span>
                        <span class="color_blue">а</span> - член международного сообщества частного образования 
                        <span class="title_accent">«большой поток»</span>
                    </h3>
                </div>
                <div class="main-page__leader__cols__item cols__item_2">
                    <p class="main-page__leader__subtitle subtitle">Самое мощное сообщество единомышленников в образовании больше 4 тысяч семей обращаются в Умку за воспитанием и образованием детей.</p>
                    <p class="main-page__leader__subtitle subtitle">Мы иллюстрируем международные исследования в области субъектности, воображения, воли и инициативы. Плакаты с нашими фотография из Умки помогают родителям по всей России выбрать верный акцент и развивать верные компетенции с детства.</p>
                    <img src="img/content/leader.svg" alt="" class="main-page__leader__image">
                </div>
            </div>

        </div>
    </section>

    <section class="main-page__authorship">
        <div class="container">
            <div class="swiper main-page__authorship__slider">
                <div class="swiper-wrapper main-page__authorship__wrapper">
                    <div class="swiper-slide main-page__authorship__slide">
                        <div class="main-page__authorship__slide__image-wrapper" data-swiper-parallax="-100%">
                            <img src="img/content/test.jpg" alt="" class="main-page__authorship__slide__image">
                        </div>
                        <div class="main-page__authorship__slide__content">
                            <h2 class="main-page__authorship__slide__title title_2">Мы за авторство своей жизни 1</h2>
                            <p class="main-page__authorship__slide__text bodytext_l">и даем детям возможность проявлять себя, делать пробы в разных сферах в избыточной среде и рефлексировать анализировать с помощью тьюторов и кураторов, психологов и педагогов о своих выводах. </p>
                        </div>
                    </div>
                    <div class="swiper-slide main-page__authorship__slide">
                        <div class="main-page__authorship__slide__image-wrapper" data-swiper-parallax="-100%">
                            <img src="img/content/test2.jpg" alt="" class="main-page__authorship__slide__image">
                        </div>
                        <div class="main-page__authorship__slide__content">
                            <h2 class="main-page__authorship__slide__title title_2">Мы за авторство своей жизни 2</h2>
                            <p class="main-page__authorship__slide__text bodytext_l">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur inventore ratione odio non earum, iste maxime commodi at impedit voluptatem.</p>
                        </div>
                    </div>
                    <div class="swiper-slide main-page__authorship__slide">
                        <div class="main-page__authorship__slide__image-wrapper" data-swiper-parallax="-100%">
                            <img src="img/content/test3.jpg" alt="" class="main-page__authorship__slide__image">
                        </div>
                        <div class="main-page__authorship__slide__content">
                            <h2 class="main-page__authorship__slide__title title_2">Мы за авторство своей жизни 3</h2>
                            <p class="main-page__authorship__slide__text bodytext_l">и даем детям возможность проявлять себя, делать пробы в разных сферах в избыточной среде и рефлексировать анализировать с помощью тьюторов и кураторов, психологов и педагогов о своих выводах. </p>
                        </div>
                    </div>
                    <div class="swiper-slide main-page__authorship__slide">
                        <div class="main-page__authorship__slide__image-wrapper" data-swiper-parallax="-100%">
                            <img src="img/content/test1.jpg" alt="" class="main-page__authorship__slide__image">
                        </div>
                        <div class="main-page__authorship__slide__content">
                            <h2 class="main-page__authorship__slide__title title_2">Мы за авторство своей жизни 4</h2>
                            <p class="main-page__authorship__slide__text bodytext_l">и даем детям возможность проявлять себя, делать пробы в разных сферах в избыточной среде и рефлексировать анализировать с помощью тьюторов и кураторов, психологов и педагогов о своих выводах.</p>
                        </div>
                    </div>
                    <div class="swiper-slide main-page__authorship__slide">
                        <div class="main-page__authorship__slide__image-wrapper" data-swiper-parallax="-100%">
                            <img src="img/content/test4.jpg" alt="" class="main-page__authorship__slide__image">
                        </div>
                        <div class="main-page__authorship__slide__content">
                            <h2 class="main-page__authorship__slide__title title_2">Мы за авторство своей жизни 5</h2>
                            <p class="main-page__authorship__slide__text bodytext_l">и даем детям возможность проявлять себя, делать пробы в разных сферах в избыточной среде и рефлексировать анализировать с помощью тьюторов и кураторов, психологов и педагогов о своих выводах.</p>
                        </div>
                    </div>

                </div>
                <div class="swiper-navigation main-page__authorship__navigation">
                    <div class="swiper-pagination main-page__authorship__pagination"></div>
                    <div class="swiper-arrows swiper-arrows_gradient main-page__authorship__arrows">
                        <div class="swiper-button swiper-button-prev">
                            <svg class="icon">
                                <use xlink:href="#icon-arrow_s"></use>
                            </svg>
                        </div>
                        <div class="swiper-button swiper-button-next">
                            <svg class="icon">
                                <use xlink:href="#icon-arrow_s"></use>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    {{> block-cta/with-image }}
    {{> block-cta/left dataPopup="excursion"}}

</main>

{{> layout/footer}}

{{!-- {{> preloader/index show=true}} --}}

{{/common/body}}