@use '~/styles/colors';

.main-page {
  .container {
    height: 100%;
  }

  .banner {
    height: 100vh;
    min-height: 600px;
    padding: 0;
    position: relative;
    width: 100%;

    &::before {
      background: linear-gradient(180deg, rgba(colors.$black, 0%), colors.$black 100%);
      content: '';
      display: block;
      height: 50%;
      left: 0;
      position: absolute;
      top: 50%;
      width: 100%;
      z-index: 3;
    }

    &__image {
      display: block;
      height: 100%;
      object-fit: cover;
      object-position: top;
      width: 100%;

      &_front {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 2;
      }
    }

    &__glitch {
      inset: 0;
      position: absolute;

      &__svg {
        height: 100%;
        width: 100%;

        &_top {
          animation: glitch-1 3s infinite step-end, glitch-opacity-2 6s infinite step-end;
        }

        &_middle {
          animation: glitch-2 5s infinite step-end, glitch-opacity-2 7s infinite step-end;
        }

        &_bottom {
          animation: glitch-1 3s infinite step-end reverse, glitch-opacity-2 5s infinite step-end;
        }
      }
    }

    .container {
      height: 100%;
      left: 50%;
      pointer-events: none;
      position: absolute;
      top: 0;
      transform: translateX(-50%);
      width: 100%;
      z-index: 3;
    }

    &__btn {
      bottom: 120px;
      left: 78px;
      pointer-events: all;
      position: absolute;
    }
  }

  .news {
    &__wrapper {
      display: flex;
      justify-content: space-between;
      padding: 0 133px;
    }

    &__left,
    &__right {
      width: 50%;
    }

    &__left {
      height: fit-content;
      padding-right: 150px;
      position: sticky;
      top: 98px;
    }

    &__right {
      padding-bottom: 100px;
      position: relative;
    }

    &__image {
      aspect-ratio: 1/1;
      max-width: 100%;
      object-fit: cover;
    }

    &__title {
      margin-bottom: 20px;
    }

    &__date {
      color: colors.$accent;
      font-size: 24px;
      font-weight: 600;
      line-height: 1.2;
      margin-bottom: 32px;
    }

    &__text {
      margin-bottom: 24px;
    }

    &__text,
    &__accent {
      color: colors.$white;
      font-size: 20px;
      font-weight: 400;
      line-height: 1.5;
    }

    &__accent {
      font-weight: 600;
    }

    &__btn {
      bottom: 0;
      left: 0;
      position: absolute;
    }
  }

  .tickets {
    position: relative;

    &__list {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -12px -24px;
    }

    &__item {
      $this: &;

      background-color: rgba(colors.$black, 0.3);
      border: 1px solid colors.$white;
      border-radius: 10px;
      margin: 0 12px 24px;
      max-width: calc(33.3% - 24px);
      overflow: hidden;
      padding: 28px;
      position: relative;
      width: 100%;

      &__head {
        display: flex;
        justify-content: space-between;
        margin-bottom: 24px;
      }

      &__city {
        -webkit-box-orient: vertical;
        color: colors.$white;
        /* stylelint-disable-next-line value-no-vendor-prefix */
        display: -webkit-box;
        font-size: 40px;
        font-weight: 600;
        -webkit-line-clamp: 2;
        line-height: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        text-transform: uppercase;
      }

      &__price,
      &__date {
        width: 100px;
      }

      &__vk {
        display: block;
        flex-shrink: 0;
        height: 50px;
        width: 50px;

        &:hover {
          .icon {
            fill: colors.$white;
          }
        }

        .icon {
          fill: transparent;
          height: 100%;
          stroke: colors.$white;
          transition: 0.3s ease;
          width: 100%;
        }
      }

      &__wrapper {
        display: flex;
        gap: 60px;
        margin-bottom: 24px;
      }

      &__title {
        color: colors.$dark-grey;
        font-size: 18px;
        font-weight: 100;
        line-height: normal;
        margin-bottom: 4px;
        text-transform: lowercase;
      }

      &__value {
        color: colors.$white;
        font-size: 18px;
        font-weight: 600;
        line-height: normal;
      }

      &_soldout {
        background-color: rgba(colors.$black, 0.2);
        border-color: #414141;

        * p {
          color: #414141;
        }

        .tickets__item__vk .icon {
          stroke: #414141;
        }

        .btn {
          border-color: #414141;

          &__text {
            color: #414141;
          }

          &__icon {
            stroke: #414141;
          }
        }

        .tickets__item__soldout {
          fill: colors.$accent;
          height: 100%;
          left: 50%;
          position: absolute;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 100%;
        }

        // > #{$this} {
        //   &__soldout {
        //   }
        // }
      }
    }
  }

  .info {
    // aspect-ratio: 1728/1100;
    display: flex;
    flex-direction: column;
    height: 200vh;
    justify-content: flex-start;
    min-height: 400px;
    padding: 0;
    position: relative;
    width: 100vw;

    &__content {
      display: flex;
      flex-direction: column;
      height: 100vh;
      justify-content: flex-end;
      perspective: 1000px;
      position: sticky;
      top: 0;
    }

    &__image {
      // aspect-ratio: 1728/1100;
      display: block;
      filter: blur(calc(10px - (var(--scroll-percentage, 0) * 10px)));
      height: fit-content;
      height: 100vh;
      max-height: 100vh;
      object-fit: cover;
      position: absolute;
      transform: scale(calc(0.5 + (var(--scroll-percentage, 0) * 0.5)))
        rotateZ(calc(-5deg + (var(--scroll-percentage, 0) * 5deg)))
        rotateY(calc(2deg - (var(--scroll-percentage, 0) * 2deg)))
        // rotateX(calc(-2deg + (var(--scroll-percentage, 0) * 2deg)))
;
      transform-origin: 30% 40%;
      transition: transform 0.3s linear;
      width: 100%;
    }

    .container {
      display: flex;
      height: fit-content;
      justify-content: flex-end;
    }

    // &__btn {}

    &__lines {
      display: flex;
      margin-bottom: 120px;
      margin-top: 80px;
      overflow: hidden;
      padding: 10px 0;
      white-space: nowrap;
      width: 100%;

      &__item {
        animation: marquee 12s linear infinite;
        font-size: 48px;
        font-weight: 100;
        line-height: 1.2;
        padding-right: 10px;
      }
    }
  }

  .photo {
    &__header {
      align-items: flex-end;
      display: flex;
      justify-content: space-between;
      margin-bottom: 80px;
    }

    &__title {
      margin-bottom: 0 !important;
    }

    &__list {
      display: flex;
      margin: -50px 0;
      overflow-x: auto;
      padding: 50px 0;
    }

    &__item {
      display: block;
      line-height: 0;
      margin: 0 24px;
      overflow: visible;
      position: relative;
      transition: all 0.3s ease;

      &:hover {
        transform: scale(1.2);
        z-index: 1;

        &::before {
          opacity: 0;
        }

        &::after {
          opacity: 1;
        }

        .photo__item__text {
          opacity: 1;
        }
      }

      &::before,
      &::after {
        content: '';
        display: block;
        height: 100%;
        left: 0;
        pointer-events: none;
        position: absolute;
        top: 0;
        transition: all 0.3s ease;
        width: 100%;
      }

      &::before {
        background-color: rgba(colors.$black, 0.4);
        opacity: 1;
      }

      &::after {
        background-image: linear-gradient(180deg, rgba(colors.$black, 0) 75.79%, rgba(colors.$black, 0.4) 100%);
        opacity: 0;
      }

      &__image {
        height: 412px;
        object-fit: contain;
        width: auto;
      }

      &__text {
        bottom: 24px;
        color: colors.$white;
        display: flex;
        height: fit-content;
        justify-content: space-between;
        left: 20px;
        opacity: 0;
        position: absolute;
        right: 20px;
        transition: all 0.3s ease;
        z-index: 1;
      }
    }
  }
}

// бегущая строка
@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%); /* Сдвигаем на ширину одного блока */
  }
}

// banner glitch
@keyframes glitch-1 {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(-5px, 0);
  }

  51% {
    transform: translate(10px, 0);
  }

  52% {
    transform: translate(10px, 3px);
  }

  53% {
    transform: translate(0, 0);
  }
}

@keyframes glitch-2 {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(5px, 0);
  }

  51% {
    transform: translate(-5px, 1);
  }

  53% {
    transform: translate(0, 0);
  }
}

@keyframes glitch-opacity-2 {
  0% {
    opacity: 1;
  }

  60% {
    opacity: 0.7;
  }

  61% {
    opacity: 0.9;
  }

  68% {
    opacity: 0.8;
  }

  69% {
    opacity: 1;
  }
}
