@use '~/styles/colors';

.main-page {
  .container {
    height: 100%;
  }

  .banner {
    height: 100vh;
    min-height: 600px;
    padding: 0;
    position: relative;
    width: 100%;

    &::before {
      background: linear-gradient(180deg, rgba(colors.$black, 0%), colors.$black 100%);
      content: '';
      display: block;
      height: 50%;
      left: 0;
      position: absolute;
      top: 50%;
      width: 100%;
      z-index: 3;
    }

    &__image {
      display: block;
      height: 100%;
      object-fit: cover;
      object-position: top;
      width: 100%;

      &_front {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 2;
      }
    }

    &__glitch {
      inset: 0;
      position: absolute;

      &__svg {
        height: 100%;
        width: 100%;

        &_top {
          animation: glitch-1 3s infinite step-end, glitch-opacity-2 6s infinite step-end;
        }

        &_middle {
          animation: glitch-2 5s infinite step-end, glitch-opacity-2 7s infinite step-end;
        }

        &_bottom {
          animation: glitch-1 3s infinite step-end reverse, glitch-opacity-2 5s infinite step-end;
        }
      }
    }

    .container {
      height: 100%;
      left: 50%;
      pointer-events: none;
      position: absolute;
      top: 0;
      transform: translateX(-50%);
      width: 100%;
      z-index: 3;
    }

    &__btn {
      bottom: 120px;
      left: 78px;
      pointer-events: all;
      position: absolute;
    }
  }

  .news {
    &__wrapper {
      display: flex;
      justify-content: space-between;
      padding: 0 133px;
    }

    &__left,
    &__right {
      width: 50%;
    }
  }

  .tickets {
    position: relative;

    // &::before,
    // &::after {
    //   content: '';
    //   display: block;
    //   position: absolute;
    //   background-size: contain;
    //   background-repeat: no-repeat;
    // }

    // &::before {
    //   background-image: url('../img/decor/tickets1.svg');
    //   width: 1018px;
    //   height: 826px;
    //   top: 40px;
    //   right: -46px;
    //   animation: vector-1 7s infinite linear;
    // }

    &__list {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -12px -24px;
    }

    &__item {
      background-color: rgba(colors.$black, 0.3);
      border: 1px solid colors.$white;
      border-radius: 10px;
      margin: 0 12px 24px;
      max-width: calc(33.3% - 24px);
      overflow: hidden;
      padding: 28px;

      &__head {
        display: flex;
        margin-bottom: 24px;
      }

      &__city {
        -webkit-box-orient: vertical;
        color: colors.$white;
        /* stylelint-disable-next-line value-no-vendor-prefix */
        display: -webkit-box;
        font-size: 40px;
        font-weight: 600;
        -webkit-line-clamp: 2;
        line-height: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        text-transform: uppercase;
      }

      &__price,
      &__date {
        width: 100px;
      }

      &__vk {
        display: block;
        flex-shrink: 0;
        height: 50px;
        width: 50px;

        &:hover {
          .icon {
            fill: colors.$white;
          }
        }

        .icon {
          fill: transparent;
          height: 100%;
          stroke: colors.$white;
          transition: 0.3s ease;
          width: 100%;
        }
      }

      &__wrapper {
        display: flex;
        gap: 60px;
        margin-bottom: 24px;
      }

      &__title {
        color: colors.$dark-grey;
        font-size: 18px;
        font-weight: 100;
        line-height: normal;
        margin-bottom: 4px;
        text-transform: lowercase;
      }

      &__value {
        color: colors.$white;
        font-size: 18px;
        font-weight: 600;
        line-height: normal;
      }
    }
  }

  .info {
    aspect-ratio: 1728/1100;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: flex-end;
    max-height: 100vh;
    min-height: 400px;
    padding: 0;
    position: relative;
    width: 100vw;

    &__image {
      aspect-ratio: 1728/1100;
      display: block;
      height: fit-content;
      max-height: 100vh;
      object-fit: cover;
      position: absolute;
      width: 100vw;
    }

    .container {
      display: flex;
      height: fit-content;
      justify-content: flex-end;
    }

    // &__btn {}

    &__lines {
      display: flex;
      margin-bottom: 120px;
      margin-top: 80px;
      overflow: hidden;
      padding: 10px 0;
      white-space: nowrap;
      width: 100%;

      &__item {
        animation: marquee 12s linear infinite;
        font-size: 48px;
        font-weight: 100;
        line-height: 1.2;
        padding-right: 10px;
      }
    }
  }

  .gallery {
    &__list {
      display: flex;
      flex-wrap: wrap;
    }

    &__item {
      display: block;
      overflow: hidden;
      position: relative;
      width: 50%;

      &:hover {
        &::before {
          opacity: 0;
        }

        &::after {
          opacity: 1;
        }

        .gallery__item__image {
          transform: scale(1.05);
        }

        .gallery__item__text {
          opacity: 1;
        }
      }

      &::before,
      &::after {
        content: '';
        left: 0;
        pointer-events: none;
        position: absolute;
        transition: opacity 0.3s ease;
        width: 100%;
        z-index: 1;
      }

      &::before {
        background-color: rgba(colors.$black, 0.2);
        height: 100%;
        opacity: 1;
        top: 0;
      }

      &::after {
        background: linear-gradient(180deg, rgba(colors.$black, 0) 50%, rgba(colors.$black, 50%) 100%);
        height: 50%;
        opacity: 0;
        top: 50%;
      }

      &__image {
        height: 100%;
        object-fit: cover;
        transition: transform 0.5s ease;
        width: 100%;
      }

      &__text {
        bottom: 0;
        color: colors.$white;
        font-size: 38px;
        font-weight: 100;
        height: fit-content;
        left: 0;
        line-height: 1.2;
        opacity: 0;
        padding: 40px;
        position: absolute;
        transition: opacity 0.5s ease;
        width: 100%;
        z-index: 2;
      }
    }
  }
}

// бегущая строка
@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%); /* Сдвигаем на ширину одного блока */
  }
}

// banner glitch
@keyframes glitch-1 {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(-5px, 0);
  }

  51% {
    transform: translate(10px, 0);
  }

  52% {
    transform: translate(10px, 3px);
  }

  53% {
    transform: translate(0, 0);
  }
}

@keyframes glitch-2 {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(5px, 0);
  }

  51% {
    transform: translate(-5px, 1);
  }

  53% {
    transform: translate(0, 0);
  }
}

@keyframes glitch-opacity-2 {
  0% {
    opacity: 1;
  }

  60% {
    opacity: 0.7;
  }

  61% {
    opacity: 0.9;
  }

  68% {
    opacity: 0.8;
  }

  69% {
    opacity: 1;
  }
}
