@use '~/styles/colors';

.main-page {
  .container {
    height: 100%;
  }

  .banner {
    height: 100vh;
    padding: 0;
    width: 100%;

    &__image {
      display: block;
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }

  .news {
    &__wrapper {
      display: flex;
      justify-content: space-between;
    }

    &__item {
      max-width: 508px;
      width: 50%;

      &__image {
        aspect-ratio: 1/1;
        display: block;
        margin-bottom: 40px;
        object-fit: cover;
        width: 100%;
      }

      // &__btn {}
    }
  }

  .tickets {
    &__list {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -12px -24px;
    }

    &__item {
      background-color: rgba(colors.$black, 0.3);
      border: 1px solid colors.$white;
      border-radius: 10px;
      margin: 0 12px 24px;
      max-width: calc(33.3% - 24px);
      overflow: hidden;
      padding: 28px;

      &__head {
        display: flex;
        margin-bottom: 24px;
      }

      &__city {
        -webkit-box-orient: vertical;
        color: colors.$white;
        /* stylelint-disable-next-line value-no-vendor-prefix */
        display: -webkit-box;
        font-size: 40px;
        font-weight: 600;
        -webkit-line-clamp: 2;
        line-height: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        text-transform: uppercase;
      }

      &__vk {
        display: block;
        flex-shrink: 0;
        height: 50px;
        width: 50px;

        &:hover {
          .icon {
            fill: colors.$white;
          }
        }

        .icon {
          fill: transparent;
          height: 100%;
          stroke: colors.$white;
          transition: 0.3s ease;
          width: 100%;
        }
      }

      &__wrapper {
        display: flex;
        gap: 32px;
        margin-bottom: 24px;
      }

      &__title {
        color: colors.$dark-grey;
        font-size: 18px;
        font-weight: 100;
        line-height: normal;
        margin-bottom: 4px;
        text-transform: lowercase;
      }

      &__value {
        color: colors.$white;
        font-size: 18px;
        font-weight: 600;
        line-height: normal;
      }
    }
  }

  .gallery {
    &__list {
      display: flex;
      flex-wrap: wrap;
    }

    &__item {
      display: block;
      overflow: hidden;
      position: relative;
      width: 50%;

      &:hover {
        &::before {
          opacity: 0;
        }

        &::after {
          opacity: 1;
        }

        .gallery__item__image {
          transform: scale(1.05);
        }

        .gallery__item__text {
          opacity: 1;
        }
      }

      &::before,
      &::after {
        content: '';
        left: 0;
        pointer-events: none;
        position: absolute;
        transition: opacity 0.3s ease;
        width: 100%;
        z-index: 1;
      }

      &::before {
        background-color: rgba(colors.$black, 0.2);
        height: 100%;
        opacity: 1;
        top: 0;
      }

      &::after {
        background: linear-gradient(180deg, rgba(colors.$black, 0) 50%, rgba(colors.$black, 50%) 100%);
        height: 50%;
        opacity: 0;
        top: 50%;
      }

      &__image {
        height: 100%;
        object-fit: cover;
        transition: transform 0.5s ease;
        width: 100%;
      }

      &__text {
        bottom: 0;
        color: colors.$white;
        font-size: 38px;
        font-weight: 100;
        height: fit-content;
        left: 0;
        line-height: 1.2;
        opacity: 0;
        padding: 40px;
        position: absolute;
        transition: opacity 0.5s ease;
        width: 100%;
        z-index: 2;
      }
    }
  }
}
