{{#> common/body
title=pages.main-page.pageTitle
class="main-page page"
}}

{{!-- {{> layout/header}} --}}

<main class="main">

    <section class="banner">
        <img src="img/content/banner.jpg" alt="" class="banner__image">
    </section>

    <section class="news">
        <div class="container">
            <h2 class="news__title title_2">INSPACE, Aikko - Перелом</h2>
            <div class="news__wrapper">
                <a href="#" class="news__item">
                    <img src="img/content/test.jpg" alt="" class="news__item__image">
                    <div class="btn news__item__btn">
                        <span class="btn__text">Слушать</span>
                        <svg class="btn__icon icon">
                            <use xlink:href="#icon-arrow"></use>
                        </svg>
                    </div>
                </a>
                <a href="#" class="news__item">
                    <img src="img/content/news__card2.png" alt="" class="news__item__image">
                    <div class="btn news__item__btn">
                        <span class="btn__text">Смотреть</span>
                        <svg class="btn__icon icon">
                            <use xlink:href="#icon-arrow"></use>
                        </svg>
                    </div>
                </a>
            </div>
        </div>
    </section>

    <section class="tickets">
        <div class="container">
            <h2 class="tickets__title title_2">Тур 2025</h2>
            <div class="tickets__list">
                {{> tickets/card }}
                {{> tickets/card }}
                {{> tickets/card }}
                {{> tickets/card }}
            </div>
        </div>
    </section>

    {{> block-creation/index }}


</main>

{{!-- {{> layout/footer}} --}}

{{!-- {{> preloader/index show=true}} --}}

{{/common/body}}