{{#> common/body
title=pages.all.pageTitle
class="all page"

}}

{{> layout/header}}

<main class="main">
    <div class="container">
        <h2>Список всех страниц</h2>
        <br>
        <ol class="all__list">
            <li><a href="index.html">Главная</a></li>
            <li><a href="contacts.html">Контакты</a></li>
            <li><a href="test.html">Тестовая стр</a></li>
            <li><a href="404.html">404</a></li>
            <li><a href="500.html">500</a></li>
            <li><a href="creation-music.html">Творчество альбомы</a></li>
            <li><a href="creation-video.html">Творчество клипы</a></li>
        </ol>
        <br>
        <br>
        <br>
    </div>

    <style>
        .all {
            margin-top: 200px;
        }

        .all__list {
            padding-left: 60px;
        }

        .all__list a,
        .all__list li {
            font-size: 30px;
        }

        .hightlight {
            background-color: greenyellow;
        }

        .bugs {
            background-color: yellow;
        }
    </style>

    {{> layout/footer}}
    {{/common/body}}