<div class="loader loader-index{{#if show}} _show{{/if}}">
    <div class="loader__logo">
        <svg class="icon">
            <use xlink:href="#logo"></use>
        </svg>
    </div>
    <div class="loader__line"></div>
</div>