@use '~/styles/colors';

.gallery {
  @media (max-width: 768px) {
    margin: 0 -48px;
  }

  @media (max-width: 600px) {
    margin: 0 -16px;
  }

  .swiper {
    $this: &;

    margin-left: auto;
    margin-right: auto;
    width: 100%;

    &-slide {
      align-items: center;
      background-position: center;
      background-size: cover;
      display: flex;
      justify-content: center;
      text-align: center;

      > img,
      .video {
        display: block;
        height: 100%;
        min-height: 240px;
        object-fit: cover;
        width: 100%;
      }
    }

    &-navigation {
      @media (max-width: 1199px) {
        bottom: 16px;
      }

      @media (max-width: 768px) {
        height: 20px;
        position: static;
      }

      @media (max-width: 480px) {
        height: 16px;
      }
    }

    &-arrows {
      bottom: 0;
      height: 60px;
      position: absolute;
      right: 26px;
      top: auto;
      width: 134px;
      z-index: 11;

      @media (max-width: 1199px) {
        right: 16px;
      }

      @media (max-width: 768px) {
        display: none;
      }
    }

    &-pagination {
      z-index: 1;

      @media (min-width: 992px) {
        width: 150px !important;
      }

      &-bullet {
        flex-shrink: 0;

        @media (min-width: 769px) {
          border-color: colors.$white;

          &-active {
            border-color: colors.$pink;
          }
        }

        @media (max-width: 480px) {
          margin: 0 2px !important;
        }
      }
    }

    &-wrapper {
      @media (max-width: 768px) {
        height: calc(100% - 40px);
        margin-bottom: 20px;
      }

      @media (max-width: 480px) {
        height: calc(100% - 26px);
      }
    }

    .video {
      border-radius: 10px;
      width: 100%;

      &__block {
        height: 100%;
      }
    }
  }

  // верхняя
  ._gallery-2 {
    height: 100%;
    margin-bottom: 30px;
    width: 100%;

    @media (min-width: 769px) {
      aspect-ratio: 948/540;
    }

    @media (max-width: 1199px) {
      margin-bottom: 24px;
    }

    @media (max-width: 768px) {
      margin-bottom: 0;
    }

    .swiper {
      &-slide {
        img,
        video {
          aspect-ratio: 948 / 540;
          border-radius: 20px;
        }
      }
    }

    .video {
      &::before {
        border-radius: 20px;
      }

      &__btn {
        height: 87px;
        width: 87px;
      }
    }
  }

  // нижняя
  ._gallery-1 {
    box-sizing: border-box;

    @media (max-width: 768px) {
      display: none;
    }

    .swiper-slide {
      aspect-ratio: 213/154;
      border: 2px dashed transparent;
      border-radius: 10px;
      cursor: pointer;
      overflow: hidden;
      position: relative;
      transition: border 0.3s ease;
      width: 25%;

      &::after {
        background-color: rgba(#000, 0.2);
        border-radius: 10px;
        content: '';
        display: block;
        height: 100%;
        left: 0;
        opacity: 1;
        position: absolute;
        top: 0;
        transition: opacity 0.3s ease;
        width: 100%;
        z-index: 1;
      }

      &-thumb-active {
        border: 2px dashed colors.$pink;

        &::after {
          opacity: 0;
        }
      }

      img {
        border-radius: 10px;
      }
    }

    .video {
      &__btn {
        height: 32px;
        width: 32px;

        img {
          height: 12px;
          width: 14px;
        }
      }
    }
  }
}
