<div class="gallery">
    <div class="swiper _gallery-2">
        <div class="swiper-wrapper" data-media-group>
            <div class="swiper-slide">
                <img class="_open-media-popup" data-target-id="media-popup" data-content-src="img/content/test1.jpg"
                    src="img/content/test1.jpg" />
            </div>
            <div class="swiper-slide">
                <img class="_open-media-popup" data-target-id="media-popup" data-content-src="img/content/test2.jpg"
                    src="img/content/test2.jpg" />
            </div>
            <div class="swiper-slide">
                <img class="_open-media-popup" data-target-id="media-popup" data-content-src="img/content/test3.jpg"
                    src="img/content/test3.jpg" />
            </div>
            <div class="swiper-slide">
                <img class="_open-media-popup" data-target-id="media-popup" data-content-src="img/content/test.jpg"
                    src="img/content/test.jpg" />
            </div>
            <div class="swiper-slide">
                <img class="_open-media-popup" data-target-id="media-popup" data-content-src="img/content/test4.jpg"
                    src="img/content/test4.jpg" />
            </div>
            <div class="swiper-slide">
                {{> video/video-open }}
            </div>
        </div>
        <div class="swiper-navigation">
            <div class="swiper-pagination"></div>
            <div class="swiper-arrows">
                <div class="swiper-button swiper-button-prev">
                    <svg class="icon">
                        <use xlink:href="#icon-arrow_s"></use>
                    </svg>
                </div>
                <div class="swiper-button swiper-button-next">
                    <svg class="icon">
                        <use xlink:href="#icon-arrow_s"></use>
                    </svg>
                </div>
            </div>
        </div>
    </div>
    <div thumbsSlider="" class="swiper _gallery-1">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="img/content/test1.jpg" />
            </div>
            <div class="swiper-slide">
                <img src="img/content/test2.jpg" />
            </div>
            <div class="swiper-slide">
                <img src="img/content/test3.jpg" />
            </div>
            <div class="swiper-slide">
                <img src="img/content/test.jpg" />
            </div>
            <div class="swiper-slide">
                <img src="img/content/test4.jpg" />
            </div>
            <div class="swiper-slide">
                <div class="video">
                    <div class="video__block">
                        <div class="video__overlay">
                        <img src="img/content/test4.jpg" alt="video__cover" class="video__cover">
                            <button class="btn video__btn">
                                <img src="img/icons/icon-play2.svg" alt="">
                            </button>
                        </div> 
                        <video src="img/content/video.mp4" class="video__clip"></video>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>