<section class="creation" id="creation">
    <div class="container">
        <h2 class="creation__title title_2">Творчество</h2>
        <div class="creation__wrapper">
            <div class="creation__social">
                <a href="#" class="creation__social__vk creation__social__item">
                    <svg class="creation__social__icon icon">
                        <use xlink:href="#icon-vk"></use>
                    </svg>
                </a>
                <a href="#" class="creation__social__tg creation__social__item">
                    <svg class="creation__social__icon icon">
                        <use xlink:href="#icon-tg"></use>
                    </svg>
                </a>
                <a href="#" class="creation__social__youtube creation__social__item">
                    <svg class="creation__social__icon icon">
                        <use xlink:href="#icon-youtube"></use>
                    </svg>
                </a>
                <a href="#" class="creation__social__tiktok creation__social__item">
                    <svg class="creation__social__icon icon">
                        <use xlink:href="#icon-tiktok"></use>
                    </svg>
                </a>
            </div>
            <div class="creation__music">
                <a href="#" class="creation__music__yandex creation__music__item">
                    <svg class="creation__music__icon icon">
                        <use xlink:href="#icon-yandex"></use>
                    </svg>
                    <div class="creation__music__text">
                        <p class="creation__music__title">Слушайте в</p>
                        <p class="creation__music__value">Яндекс Музыке</p>
                    </div>
                </a>
                <a href="#" class="creation__music__vk creation__music__item">
                    <svg class="creation__music__icon icon">
                        <use xlink:href="#icon-vk_music"></use>
                    </svg>
                    <div class="creation__music__text">
                        <p class="creation__music__title">Слушайте в</p>
                        <p class="creation__music__value">VK Музыке</p>
                    </div>
                </a>
                <a href="#" class="creation__music__apple creation__music__item">
                    <svg class="creation__music__icon icon">
                        <use xlink:href="#icon-apple"></use>
                    </svg>
                    <div class="creation__music__text">
                        <p class="creation__music__title">Слушайте в</p>
                        <p class="creation__music__value">Apple Music</p>
                    </div>
                </a>
                <a href="#" class="creation__music__mts creation__music__item">
                    <svg class="creation__music__icon icon">
                        <use xlink:href="#icon-mts"></use>
                    </svg>
                    <div class="creation__music__text">
                        <p class="creation__music__title">Слушайте в</p>
                        <p class="creation__music__value">МТС Музыке</p>
                    </div>
                </a>
                <a href="#" class="creation__music__zvuk creation__music__item">
                    <svg class="creation__music__icon icon">
                        <use xlink:href="#icon-zvuk"></use>
                    </svg>
                    <div class="creation__music__text">
                        <p class="creation__music__title">Слушайте в</p>
                        <p class="creation__music__value">Звуке</p>
                    </div>
                </a>
                <a href="#" class="creation__music__spotify creation__music__item">
                    <svg class="creation__music__icon icon">
                        <use xlink:href="#icon-spotify"></use>
                    </svg>
                    <div class="creation__music__text">
                        <p class="creation__music__title">Слушайте в</p>
                        <p class="creation__music__value">Spotify</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>