<section class="cta cta_banner">
    <div class="container">
        <div class="cta__wrapper">
            <picture class="cta__bg">
                <source media="(max-width: 768px)" srcset="img/content/test3.jpg">
                <img class="cta__bg__source" src="img/content/test1.jpg" alt="">
            </picture>
            <div class="cta__content">
                <h3 class="cta__title title_3"><b>Мы открыты для разного вида cотрудничества</b> и коллаборации брендов</h3>
                <p class="cta__text subtitle">Каждому партнёру мы предложим индивидуальные условия, которые вам подойдут</p>
                <button class="btn btn_square btn_primary _open-popup" data-target-id="{{dataPopup}}">Стать партнёром</button>
            </div>
        </div>
    </div>
</section>