@use '~/styles/colors';

.cta {
  $this: &;

  margin: 60px 0;

  @media (max-width: 768px) {
    margin: 30px 0;
  }

  &__wrapper {
    // min-height: 586px;
    background-position: center;
    border-radius: 20px;
    color: colors.$white;
    max-height: 630px;
    overflow: hidden;
    padding: 136px 96px;
    position: relative;

    @media (max-width: 1440px) {
      padding: 70px 56px;
    }

    @media (max-width: 768px) {
      padding: 32px 18px;
    }

    @media (min-width: 601px) and (max-width: 768px) {
      min-height: 750px;
    }

    @media (max-width: 600px) {
      min-height: 586px;
    }
  }

  &__bg {
    left: 0;
    position: absolute;
    top: 0;
    z-index: -1;

    // &__source {}
  }

  &__bg,
  &__bg__source {
    display: block;
    height: 100%;
    object-fit: cover;
    width: 100%;

    @media (max-width: 1199px) {
      object-position: 60%;
    }

    @media (max-width: 768px) {
      object-position: center bottom;
    }
  }

  &__content {
    max-width: 500px;

    @media (max-width: 1440px) {
      max-width: 400px;
    }

    @media (max-width: 1199px) {
      max-width: 50%;
    }

    @media (max-width: 991px) {
      max-width: 100%;
    }
  }

  &__title {
    & + .cta__text {
      margin-bottom: 60px;
      margin-top: 20px;

      @media (max-width: 991px) {
        margin-bottom: 32px;
        margin-top: 16px;
      }
    }
  }

  &__text {
    & + .cta__title {
      margin-bottom: 64px;
      margin-top: 24px;

      @media (max-width: 1440px) {
        margin-bottom: 40px;
      }

      @media (max-width: 991px) {
        margin-bottom: 32px;
        margin-top: 16px;
      }
    }
  }

  .btn {
    @media (max-width: 768px) {
      margin: 0 auto;
    }

    @media (max-width: 480px) {
      width: 100%;
    }
  }

  &_banner {
    #{$this} {
      &__wrapper {
        @media (min-width: 1200px) {
          min-height: 526px;
          padding: 97px 67px;
        }

        @media (max-width: 600px) {
          min-height: 710px;
        }
      }

      &__content {
        max-width: 676px;
      }

      &__title {
        color: colors.$grey900;

        & + .cta__text {
          margin-bottom: 40px;
        }
      }

      &__text {
        color: colors.$grey600;
      }
    }

    .btn {
      padding: 18px 22px;
      width: 332px;

      @media (max-width: 600px) {
        max-width: 100%;
      }
    }
  }
}

// left - сначала заголовок, потом текст
// right - сначала текст, потом заголовок

.cta-image {
  padding: 60px 0;

  @media (max-width: 768px) {
    padding: 30px 0;
  }

  .cols {
    margin: 0 -16px;

    @media (max-width: 800px) {
      margin: 0;
    }

    &__item_2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 16px;

      @media (max-width: 800px) {
        margin: 0;
      }

      &:first-of-type {
        @media (min-width: 801px) and (max-width: 1199px) {
          width: 60%;
        }

        @media (max-width: 800px) {
          margin-bottom: 40px;
        }
      }

      &:last-of-type {
        border-radius: 20px;
        overflow: hidden;
        position: relative;

        @media (min-width: 801px) and (max-width: 1199px) {
          width: 40%;
        }

        &::before {
          background-image: linear-gradient(rgba(colors.$purple, 0), rgba(colors.$purple, 0.4));
          content: '';
          display: block;
          height: 100%;
          left: 0;
          position: absolute;
          top: 0;
          width: 100%;
        }
      }
    }
  }

  &__title {
    margin-bottom: 24px;
    position: relative;

    @media (max-width: 480px) {
      margin-bottom: 16px;
    }

    &::before {
      background-image: url('../img/decor/decor-content6.svg');
      background-repeat: no-repeat;
      background-size: contain;
      content: '';
      display: block;
      height: 68px;
      position: absolute;
      right: 45px;
      top: -73px;
      width: 132px;
      z-index: -1;

      @media (max-width: 768px) {
        display: none;
      }
    }

    b {
      color: colors.$blue;
    }
  }

  &__text {
    color: colors.$grey600;
    margin-bottom: 64px;

    @media (max-width: 768px) {
      margin-bottom: 32px;
    }
  }

  &__image {
    display: block;
    min-height: 497px;
    object-fit: cover;

    @media (max-width: 800px) {
      min-height: auto;
    }
  }

  .btn {
    @media (max-width: 480px) {
      width: 100%;
    }
  }
}
