<section class="cta cta_left">
    <div class="container">
        <div class="cta__wrapper">
            <picture class="cta__bg">
                <source media="(max-width: 768px)" srcset="img/content/banner1-2.png">
                <img class="cta__bg__source" src="img/content/banner3-1.png" alt="">
            </picture>
            <div class="cta__content">
                <h5 class="cta__text title_5">Мы делаем его с 2020 года и это тренд нашего города!</h5>
                <h2 class="cta__title title_2">Запишитесь к нам на персональную экскурсию</h2>
                <button class="btn btn_square btn_secondary_w _open-popup" data-target-id="{{dataPopup}}">Записаться на экскурсию</button>
            </div>
        </div>
    </div>
</section>