<div class="video video_file video_play">
    <div class="video__block">
        <div class="video__overlay">
            <img src="img/content/test.jpg" alt="video__cover" class="video__cover">

            <button class="btn video__btn">
                <img src="img/icons/icon-play2.svg" alt="">
            </button>

        </div>
        <video class="video__clip" playsinline controls="controls">
            <source src="img/content/test.mp4" type="video/mp4">
        </video>
    </div>
</div>