<div class="video video_open {{videoClass}} _open-media-popup" data-target-id="media-popup" data-content-type="iframe" data-content-src="https://www.youtube.com/embed/AIGnRc7F86Q">
    <div class="video__block">
        <div class="video__overlay">
            <img src="img/content/test4.jpg" alt="video__cover" class="video__cover">
            <button class="btn video__btn">
                <img src="img/icons/icon-play2.svg" alt="">
            </button>
        </div>

        {{!-- <iframe class="video__clip video_iframe" src="https://www.youtube.com/embed/AIGnRc7F86Q"
            title="YouTube video player"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;"
            allowfullscreen></iframe> --}}
    </div>
</div>
