<!DOCTYPE html>
<html lang="ru">
{{> html/_head title=title}}

<body class="{{class}}" {{#if dataUrl}}data-url="{{dataUrl}}" {{/if}}>
    {{> common/icons }}


    {{> common/bg}}

    {{> @partial-block }}

    {{!-- {{> popup/cookie }}
    {{> popup/media }}
    {{> popup/question }}
    {{> popup/success }} --}}
</body>

</html>