@use '~/styles/colors';
@import '~/styles/fonts';

html {
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

* {
  box-sizing: border-box;
  font-family: Cygre, sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;

  // scrollbar
  scrollbar-color: colors.$accent rgba(colors.$accent, 0.1);
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    appearance: none;
    height: 6px;
    width: 6px;
  }

  &::-webkit-scrollbar-track-piece {
    background-color: rgba(colors.$accent, 0.1);
  }

  &::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    background-color: colors.$accent;
    border: 0 solid rgba(0, 0, 0, 0);
    /* stylelint-disable-next-line property-no-vendor-prefix */
    -webkit-border-radius: 0;
    box-shadow: none;
    height: 6px;
  }

  &::-webkit-scrollbar-button {
    display: none;
    height: 0;
    width: 0;
  }

  &::-webkit-scrollbar-corner {
    background-color: rgba(colors.$accent, 0.1);
  }

  // .mobile-menu__items::-webkit-scrollbar-track {
  //   margin: 20px;
  // }
}

a {
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease;
}

body {
  background-color: colors.$dark-bg;
  color: colors.$white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 360px;
  overflow-x: hidden;
  position: relative;

  // &._lock {
  //   overflow: hidden;
  // }
}

.page {
  section {
    padding: 120px 0;

    .title_2 {
      margin-bottom: 80px;
    }
  }
}

.container {
  margin: 0 auto;
  max-width: 1728px;
  padding: 0 78px;
  position: relative;
  width: 100%;

  // @media (max-width: 1199px) {
  //   padding: 0 48px;
  // }

  // @media (max-width: 600px) {
  //   padding: 0 16px;
  // }
}

.btn {
  $this: &;

  align-items: center;
  background-color: transparent;
  border: 1px solid colors.$white;
  border-radius: 8px;
  color: colors.$white;
  cursor: pointer;
  display: flex;
  font-size: 20px;
  height: 60px;
  justify-content: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease;

  // @media (prefers-color-scheme: light) {
  // background-color: colors.$white;
  // color: colors.$black;
  // }

  // body.theme_light & {
  //   color: red;
  // }

  &:hover {
    background-color: colors.$white;

    > #{$this} {
      &__text {
        color: colors.$black;
      }

      &__icon {
        fill: colors.$black;
      }
    }
  }

  &__text,
  &__icon {
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease;
  }

  &__text {
    color: colors.$white;
    margin-right: 20px;
  }

  &__icon {
    fill: colors.$white;
    height: 10px;
    width: 94px;
  }
}

main {
  flex-grow: 1;
  z-index: 3;

  // @media (max-width: 768px) {
  //   overflow: hidden;
  // }
}

.title_1,
.title_2,
.title_3 {
  margin: 0;
}

// h1,
// .title_1 {
//   font-size: 46px;
//   font-weight: 700;
//   line-height: 1.3;
//   text-transform: uppercase;

//   @media (max-width: 991px) {
//     font-size: 40px;
//   }

//   @media (max-width: 480px) {
//     font-size: 30px;
//     line-height: 1.2;
//   }
// }

.title_2 {
  font-size: 96px;
  font-weight: 600;
  line-height: 1.2;

  // font-family: "Cygre SemiBold";

  // @media (max-width: 991px) {
  //   font-size: 34px;
  // }

  // @media (max-width: 480px) {
  //   font-size: 26px;
  // }
}

.title_3 {
  font-size: 44px;
  font-weight: 100;
  line-height: 1.2;

  //   @media (max-width: 991px) {
  //     font-size: 30px;
  //   }

  //   @media (max-width: 480px) {
  //     font-size: 24px;
  //   }
}

// h4,
// .title_4 {
//   font-size: 28px;
//   font-weight: 500;
//   line-height: 1.4;

//   @media (max-width: 991px) {
//     font-size: 26px;
//   }

//   @media (max-width: 480px) {
//     font-size: 22px;
//     line-height: 1.3;
//   }
// }

// h5,
// .title_5 {
//   font-size: 22px;
//   font-weight: 500;
//   line-height: 1.26;

//   @media (max-width: 991px) {
//     font-size: 20px;
//   }
// }

// h6,
// .title_6 {
//   font-size: 20px;
//   font-weight: 500;
//   line-height: 1.26;
// }

// .subtitle,
// .subtitle_upp {
//   font-size: 24px;
//   font-weight: 400;
//   line-height: 1.4;

//   @media (max-width: 991px) {
//     font-size: 20px;
//   }

//   @media (max-width: 480px) {
//     font-size: 18px;
//   }
// }

// .subtitle_upp {
//   text-transform: uppercase;
// }

// .bodytext_l {
//   font-size: 20px;
//   font-weight: 400;
//   line-height: 1.4;

//   @media (max-width: 480px) {
//     font-size: 17px;
//   }
// }

// .unvisible {
//   display: none !important;
// }

// .bodytext_m {
//   font-size: 18px;
//   font-weight: 400;
//   line-height: 1.5;

//   @media (max-width: 480px) {
//     font-size: 16px;
//     line-height: 1.4;
//   }

//   &_medium {
//     font-weight: 500;
//     line-height: 1.2;

//     @media (max-width: 480px) {
//       line-height: 1.2;
//     }
//   }
// }

// .bodytext_s {
//   font-size: 16px;
//   font-weight: 400;
//   line-height: 1.2;

//   @media (max-width: 480px) {
//     font-size: 14px;
//   }
// }

// .table-head {
//   font-size: 16px;
//   font-weight: 400;
//   letter-spacing: 0.32px;
//   line-height: 1.1;
//   text-transform: uppercase;

//   @media (max-width: 480px) {
//     font-size: 14px;
//     letter-spacing: 0.28px;
//   }
// }

// .additional_m {
//   font-size: 18px;
//   font-weight: 400;
//   line-height: 1.1;
//   text-transform: uppercase;

//   @media (max-width: 480px) {
//     font-size: 14px;
//     letter-spacing: 0.28px;
//   }

//   &_upp {
//     text-transform: uppercase;
//   }
// }

// .additional_s {
//   font-size: 16px;
//   font-weight: 500;
//   line-height: 1.3;

//   @media (max-width: 480px) {
//     font-size: 13px;
//   }

//   &_upp {
//     line-height: 1.1;
//     text-transform: uppercase;

//     @media (max-width: 480px) {
//       line-height: 1.3;
//     }
//   }
// }

// ul {
//   list-style: none;
// }

// .btn {
//   cursor: pointer;
//   display: block;
//   position: relative;
//   text-align: center;
//   transition: all 0.3s ease;
//   white-space: nowrap;
//   width: fit-content;

//   &_square {
//     border-radius: 8px;
//     font-size: 18px;
//     line-height: 1;
//     padding: 13px 22px;

//     @media (max-width: 480px) {
//       font-size: 16px;
//     }
//   }

//   &_primary {
//     background-color: transparent;
//     border: 1px solid colors.$pink;
//     color: colors.$white;
//     overflow: hidden;
//     z-index: 1;

//     &::before,
//     &::after {
//       content: '';
//       height: 100%;
//       left: 0;
//       position: absolute;
//       top: 0;
//       transition: all 0.3s ease;
//       width: 100%;
//     }

//     &::after {
//       background-image: linear-gradient(128deg, #df2976 9.53%, #f466a2 134.41%);
//       z-index: -1;
//     }

//     &::before {
//       background-image: linear-gradient(128deg, #d04781 9.53%, #c5145f 134.41%);
//       z-index: -2;
//     }

//     &:hover {
//       &::after {
//         opacity: 0;
//       }
//     }

//     &:focus {
//       border-color: colors.$purple;
//     }

//     &:active {
//       background-color: rgba(colors.$green, 1);
//     }

//     &.disabled {
//       background-color: colors.$grey200;
//       border-color: colors.$grey200;
//       color: colors.$grey300;

//       &::before,
//       &::after {
//         background-image: linear-gradient(128deg, colors.$grey200 9.53%, colors.$grey200 134.41%);
//       }
//     }
//   }

//   &_secondary {
//     background-color: transparent;
//     border: 1px solid colors.$purple;
//     color: colors.$purple;

//     &:hover {
//       background-color: rgba(colors.$purple, 0.2);
//     }

//     &:focus {
//       outline: colors.$pink;
//     }

//     &:active {
//       background-color: colors.$white;
//     }

//     &.disabled {
//       background-color: colors.$grey200;
//       border-color: colors.$grey300;
//       color: colors.$grey300;
//     }
//   }

//   &._hidden {
//     display: none;
//   }

//   &.disabled {
//     pointer-events: none;
//   }
// }

.icon {
  display: block;
  margin: 0 auto;
  transition: all 0.3s ease;
}

// .title {
//   &_accent {
//     color: colors.$blue;
//   }
// }

// .sticky {
//   &__block {
//     position: sticky;
//     top: 156px;

//     @media (max-height: 1000px) {
//       position: static;
//     }

//     @media (max-width: 1199px) {
//       top: 90px;
//     }

//     @media (max-width: 480px) {
//       top: 72px;
//     }
//   }
// }

// .label {
//   border: 1px solid transparent;
//   border-radius: 50px;
//   display: inline-block;
//   margin-bottom: 10px;
//   margin-right: 10px;
//   padding: 6px 10px;

//   &_orange {
//     background-color: rgba(colors.$orange, 0.1);
//     color: colors.$orange;
//   }

//   &_pink {
//     background-color: rgba(colors.$pink, 0.1);
//     color: colors.$pink;
//   }

//   &_pink-dot {
//     border: 1px dashed colors.$pink;
//     color: colors.$pink;
//   }

//   &_purple {
//     background-color: rgba(colors.$purple, 0.1);
//     color: colors.$purple;
//   }

//   &_blue {
//     background-color: rgba(colors.$blue, 0.1);
//     color: colors.$blue;
//   }
// }

// .stars {
//   display: flex;
//   justify-content: space-between;

//   .icon {
//     display: block;
//     fill: transparent;

//     &_filled {
//       fill: colors.$orange;
//     }
//   }
// }

// .cols {
//   display: flex;

//   @media (max-width: 800px) {
//     flex-direction: column;
//   }

//   &__item {
//     &_2 {
//       width: 50%;

//       @media (max-width: 800px) {
//         width: 100%;
//       }
//     }

//     &_3 {
//       width: 33.3%;

//       @media (max-width: 800px) {
//         width: 100%;
//       }
//     }
//   }
// }

// .flex-separator {
//   flex-grow: 1;
//   height: 100%;
//   width: 100%;
// }

// ._toggle {
//   $this: &;

//   &._toggle_active {
//     > #{$this} {
//       &__container {
//         max-height: var(--element-height, auto);
//       }
//     }
//   }

//   > #{$this} {
//     &__container {
//       max-height: 0;
//       overflow: hidden;
//       transition: all 0.3s ease;
//     }
//   }
// }

// ._template {
//   display: none;
// }
