{{#> common/body
title=pages.test.pageTitle
class="test page"
}}

{{> layout/header}}

<main class="main">

    <div class="container">
    </div>

    <section class="test__wrapper content">
        <div class="container">
            <div class="content__tight">
                <h1 class="title_3">Политика конфиденциальности</h1>
                <p>одиннадцатиклассница и политика конфиденциальности</p>
                <p>
                    <img alt="" src="https://sun9-33.userapi.com/impg/86SVsBaKtoG-iM69TcSGiYtzsd1N7wg9jcpy4w/qudcdshd8as.jpg?size=1920x1280&amp;quality=95&amp;sign=35d62261e9774a655e8d4874e055ab8f&amp;type=album" />
                </p>
                <p>
                    <img alt="" src="https://sun9-33.userapi.com/impg/86SVsBaKtoG-iM69TcSGiYtzsd1N7wg9jcpy4w/qudcdshd8as.jpg?size=1920x1280&amp;quality=95&amp;sign=35d62261e9774a655e8d4874e055ab8f&amp;type=album" />
                </p>
                <img alt="" src="https://sun9-33.userapi.com/impg/86SVsBaKtoG-iM69TcSGiYtzsd1N7wg9jcpy4w/qudcdshd8as.jpg?size=1920x1280&amp;quality=95&amp;sign=35d62261e9774a655e8d4874e055ab8f&amp;type=album" />
                <img alt="" src="https://sun9-33.userapi.com/impg/86SVsBaKtoG-iM69TcSGiYtzsd1N7wg9jcpy4w/qudcdshd8as.jpg?size=1920x1280&amp;quality=95&amp;sign=35d62261e9774a655e8d4874e055ab8f&amp;type=album" />
                <p>
                    <img alt="" src="https://sun9-33.userapi.com/impg/86SVsBaKtoG-iM69TcSGiYtzsd1N7wg9jcpy4w/qudcdshd8as.jpg?size=1920x1280&amp;quality=95&amp;sign=35d62261e9774a655e8d4874e055ab8f&amp;type=album" />
                    <img alt="" src="https://sun9-33.userapi.com/impg/86SVsBaKtoG-iM69TcSGiYtzsd1N7wg9jcpy4w/qudcdshd8as.jpg?size=1920x1280&amp;quality=95&amp;sign=35d62261e9774a655e8d4874e055ab8f&amp;type=album" />
                    <img alt="" src="https://sun9-33.userapi.com/impg/86SVsBaKtoG-iM69TcSGiYtzsd1N7wg9jcpy4w/qudcdshd8as.jpg?size=1920x1280&amp;quality=95&amp;sign=35d62261e9774a655e8d4874e055ab8f&amp;type=album" />
                </p>
                <p>
                    <span style="background-color:#FFFF00">**</span>
                    <strong>
                        <span style="background-color:#FFFF00">убедиться что изображение адаптируется, находится в области контента</span>
                    </strong>
                    <span style="background-color:#FFFF00">**</span>
                </p>

                <p>&nbsp;</p>

                <p>
                    <span style="background-color:#FFFF00">**</span>
                    <strong>
                        <span style="background-color:#FFFF00">Списки имеют отступы по уровням. Маркеры, цифры отображаются, цвета соответствуют дизайну. В адаптиве список не прилипает к краю экрана</span>
                    </strong>
                    <span style="background-color:#FFFF00">**</span>
                </p>

                <ul>
                    <li>проверка маркированного списка 1.
                        <ul>
                            <li>проверка маркированного списка 1.1 <a href="#">ссылка в списке - проверить адаптив</a>
                            </li>
                            <li>проверка маркированного списка 1.2 Маркер должен быть центрирован относительно первой
                                строки. Текст если маркер в 2 строке во 2 строке идет не по одной оси аркер должен быть
                                центрирован относительно первой строки. Текст если маркер в 2 строке во 2 строке идет не
                                по одной оси аркер должен быть центрирован относительно первой строки. Текст если маркер
                                в 2 строке во 2 строке идет не по одной оси</li>
                            <li>проверка маркированного списка 1.3 <a href="#">ссылка в списке</a></li>
                        </ul>
                    </li>
                    <li>проверка маркированного списка 2</li>
                    <li>проверка маркированного списка 3</li>
                </ul>

                <ol>
                    <li>проверка нумерованного списка 1
                        <ol>
                            <li>проверка нумерованного списка 1.1
                                <ol>
                                    <li>проверка нумерованного списка 1.1.1 <a href="#">ссылка в списке - проверить
                                            адаптив</a>
                                            </li>
                                    <li>проверка нумерованного списка при большом количестве текста и тексте в несколько
                                        строк маркер выровнен согласно макету проверка нумерованного списка при большом
                                        количестве текста и тексте в несколько строк маркер выровнен согласно макету
                                    </li>
                                    <li>проверка нумерованного списка 1.1.2</li>
                                    <li>проверка нумерованного списка 1.1.3</li>
                                </ol>
                            </li>
                            <li>проверка нумерованного списка 1.2</li>
                            <li>проверка нумерованного списка 1.3</li>
                        </ol>
                    </li>
                    <li>проверка нумерованного списка 2</li>
                    <li>проверка нумерованного списка 3</li>
                </ol>

                <p>
                    <span style="background-color:#FFFF00">**</span>
                    <strong>
                        <span style="background-color:#FFFF00">Таблица адаптируется, стили соответствуют дизайну. Если дизайна нет: соответствует цветовой схеме сайта, имеет отступы</span>
                    </strong>
                    <span style="background-color:#FFFF00">**</span>
                </p>

                <table>
                    <tbody>
                        <tr></tr>
                    </tbody>
                    <thead>
                        <tr>
                            <th>Получить бесплатную консультацию специалиста</th>
                            <th>Получить бесплатную консультацию специалиста</th>
                            <th>Получить бесплатную консультацию специалиста</th>
                            <th>Получить бесплатную консультацию специалиста</th>
                            <th>Получить бесплатную консультацию специалиста</th>
                            <th>Получить бесплатную консультацию специалиста</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Получить бесплатную консультацию специалиста</td>
                            <td>Получить бесплатную консультацию специалиста</td>
                            <td>Получить бесплатную консультацию специалиста</td>
                            <td>Получить бесплатную консультацию специалиста</td>
                            <td>Получить бесплатную консультацию специалиста</td>
                            <td>Получить бесплатную консультацию специалиста</td>
                        </tr>
                        <tr>
                            <td>Получить бесплатную консультацию специалиста</td>
                            <td>Получить бесплатную консультацию специалиста</td>
                            <td>Получить бесплатную консультацию специалиста</td>
                            <td>Получить бесплатную консультацию специалиста</td>
                            <td>Получить бесплатную консультацию специалиста</td>
                            <td>Получить бесплатную консультацию специалиста</td>
                        </tr>
                        <tr>
                            <td>Получить бесплатную консультацию специалиста</td>
                            <td>Получить бесплатную консультацию специалиста</td>
                            <td>Получить бесплатную консультацию специалиста</td>
                            <td>Получить бесплатную консультацию специалиста</td>
                            <td>Получить бесплатную консультацию специалиста</td>
                            <td>Получить бесплатную консультацию специалиста</td>
                        </tr>
                    </tbody>
                </table>

                <blockquote>
                    <strong>blockquote.</strong> Единственной космической субстанцией Гумбольдт считал материю,
                    наделенную внутренней активностью, несмотря на это художественное переживание теоретически
                    оспособляет обязательственный обычай делового оборота. Эффект &quot;вау-вау&quot;, на первый взгляд,
                    создает сангвиник. Говорят также о фактуре, типичной для тех или иных жанров (&quot;фактура
                    походного марша&quot;, &quot;фактура вальса&quot; и пр.), и здесь мы видим, что гений
                    рассматривается композиционный объект права.
                </blockquote>

                <p class="lead"><strong>lead.</strong>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.</p>
                <h3>Заголовок отображения <small>С выцветшим вторичным текстом</small></h3>
                <p><small>small. Это текст small</small></p>

                <p>
                    <span style="background-color:#FFFF00">**</span>
                    <strong>
                        <span style="background-color:#FFFF00">Ссылка в тексте отличается от текста. Соответствует дизайну или цветовой схеме сайта</span>
                    </strong>
                    <span style="background-color:#FFFF00">**</span>
                </p>

                <p>Это первый абзац <a href="#">ссылка в тексте</a></p>
                <p>Это второй абзац</p>
                <p>
                    <span style="background-color:#FFFF00">**</span>
                    <strong>
                        <span style="background-color:#FFFF00">Заголовки с длинными словами входят на 360, Размер h1 такой же как в заголовке страницы</span>
                    </strong>
                    <span style="background-color:#FFFF00">**</span>
                </p>
                <h1>h1. Одиннадцатиклассница и политика конфиденциальности</h1>
                <h2>h2. Одиннадцатиклассница и политика конфиденциальности</h2>
                <h3>h3. Одиннадцатиклассница и политика конфиденциальности</h3>
                <h4>h4. Одиннадцатиклассница и политика конфиденциальности</h4>
                <h5>h5. Одиннадцатиклассница и политика конфиденциальности</h5>
                <h6>h6. Bootstrap heading</h6>
                <p>
                    <span style="background-color:#FFFF00">**</span>
                    <strong>
                        <span style="background-color:#FFFF00">Фрейм адаптируется</span>
                    </strong>
                    <span style="background-color:#FFFF00">**</span>
                </p>

                <p>
                    <iframe frameborder="0" height="315" sandbox="" src="https://www.youtube.com/embed/20Ap1kH8wuU" width="560"></iframe>
                </p>
                <h2>одиннадцатиклассница и политика конфиденциальности</h2>
                <p>Экран погас. <span class="marker">Я отошел на несколько шагов, достал предписанный инструкцией лайтинг.</span> Белая вспышка &ndash; и компьютерный терминал с видеофоном превращаются в груду оплавленного металла. Из угла с растерянным гудением вылезла полусфера киберуборщика. Все. До самой Земли я перестаю быть членом экипажа &laquo;Антареса&raquo;. Дэниэль Линк, категория &laquo;зет&raquo; станут моей судьбой.</p>
                <p>
                    <span style="background-color:#FFFF00">**</span>
                    <strong>
                        <span style="background-color:#FFFF00">Это фото размером 300px</span>
                    </strong>
                    <span style="background-color:#FFFF00">**</span>
                </p>

                <p>
                    <img alt="" src="https://sun9-14.userapi.com/impg/B0OlWcnbCfqm-3VYzC-LG92tYO2MFUIxu8-dSQ/ywOktvyGz9Y.jpg?size=1920x1440&amp;quality=95&amp;sign=8f8392774755fa82530c56046fedcbac&amp;type=album" style="border:0px; width: 300px;" />
                </p>

                <p>&hellip;Жилой ярус невелик. Три каюты, столовая, комната отдыха, маленькая оранжерея, пузырем
                    выступающая над броней корабля. Я прошел по коридорам, собирая те немногие инструменты, что здесь
                    нашлись. Отвертки, тестеры, щупы, ультразвуковой резак &ndash; все острое и тяжелое&hellip; Я
                    сбросил эту груду металла в жадно раскрытый люк утилизатора. Подумал и отправил туда же лазерный
                    дальномер. Его луч не смертелен, но может ослепить.</p>

                <p>По короткому и узкому коридору я пошел к своей каюте. Постоял секунду, потом открыл дверь.</p>

                <p>Дэниэль сидел на кровати. Он уже успел переодеться &ndash; на нем был синий спортивный костюм, а
                    мокрая куртка висела в шкафу. На столе лежали тонкие книжки в разноцветных обложках. Я взял одну
                    &ndash; это оказались комиксы. Почувствовав тепло руки, жидкокристаллический рисунок ожил.
                    Обвешанный оружием космодесантник мужественно усмехнулся, вскинул деструктор &ndash; армейскую
                    модель, совершенно неподъемную. Ствол деструктора слегка выступил над обложкой. Эффектно&hellip;
                    Мальчишка молча смотрел на меня. Я откинул вторую койку:</p>

                <p>&ndash; Будешь спать здесь.</p>
                <p>&ndash; Хорошо.</p>
                <p>&ndash; Без моего разрешения ты не должен выходить из каюты. Желтая дверь &ndash; туалет, голубая &ndash; душ.</p>
                <p>&ndash; Я знаю. А мы долго будем лететь?</p>
                <p>&ndash; Пока не прилетим.</p>
                <p>Я взглянул на часы.</p>
                <p>&ndash; Старт через полчаса, необходимо лечь и пристегнуться&hellip;</p>
                <p>&ndash; Я знаю.</p>
                <p>&ndash; Еще через полчаса &ndash; обед. Столовая направо, в конце коридора.</p>
                <p>
                    <img alt="" src="https://sun9-14.userapi.com/impg/B0OlWcnbCfqm-3VYzC-LG92tYO2MFUIxu8-dSQ/ywOktvyGz9Y.jpg?size=1920x1440&amp;quality=95&amp;sign=8f8392774755fa82530c56046fedcbac&amp;type=album" style="border:0px; float:left; height:160px; width: 110; margin:3px; width:130px" />
                    <span style="background-color:#FFFF00">**</span>
                    <strong>
                        <span style="background-color:#FFFF00">изображение с флоатом. Есть отступ от текста. Предусмотреть чтобы в адаптиве текст не вставал тонкой полосой рядом с фото</span>
                    </strong>
                    <span style="background-color:#FFFF00">**</span> Дэниэль только кивнул в ответ. Похоже, он немного
                    испугался моего тона &ndash; его лицо побледнело. На секунду мне стало жаль этого мальчишку, не
                    понимающего, в чем его вина. Дэниэль смотрел на меня со слабой надеждой &ndash; похоже, он ждал, что
                    я улыбнусь или скажу ему что-нибудь ласковое. Я заставил себя отвернуться и вышел из каюты.
                    Категория &laquo;зет&raquo;. Дэниэль Линк представляет потенциальную угрозу для человечества.
                </p>

                <p>Мы летели вдали от пассажирских трасс. Война с Лотаном в полном разгаре, и вражеские патрули
                    охотились за такими беззащитными скорлупками, как наш &laquo;Антарес&raquo;. Лишь безвыходная
                    ситуация могла заставить офицеров Службы безопасности Десантного Корпуса использовать нашу посудину
                    для пересылки арестованного. Дни тянулись за днями, неотличимые друг от друга. Утром, когда Дэниэль
                    еще спал, я выходил в оранжерею и пытался определить наши координаты по рисунку созвездий. Отсюда,
                    из двадцатиметрового стеклянного купола, заросшего цветами и самой прозаической картошкой, был
                    прекрасный обзор. Потом мы завтракали, убирали посуду (само собой вышло так, что мы начали делать
                    это по очереди). До обеда я сидел в комнате отдыха и листал старые номера &laquo;Космического
                    вестника&raquo;. Впрочем, после обеда я делал то же самое&hellip; А Дэниэль сидел в каюте.
                    <img alt="" src="https://source.unsplash.com/300x300" style="float:right" /> 
                    Он вообще старался не
                    попадаться мне на глаза. Наводил порядок (а на &laquo;Антаресе&raquo;, где два-три раза в сутки
                    отключалась гравитация, это непросто). Умело пользовался душем, как опытный астронавт дежурил на
                    кухне. Скоро я понял, что он привык к жизни на кораблях. Привык настолько, что я даже боялся
                    предположить, сколько уже длится его путь к Земле. Да и не нужно мне этого знать. Случай занес
                    Дэниэля Линка в категорию &laquo;зет&raquo;, случай привел на наш корабль, случай сделал меня
                    конвоиром. На Земле я передам его красношевронникам и постараюсь забыть.
                </p>

                <p>
                    <span style="background-color:#FFFF00">**</span>
                    <strong>
                        <span style="background-color:#FFFF00">Фото с фиксированной высотой не сплющивается в адаптиве</span>
                    </strong>
                    <span style="background-color:#FFFF00">**</span>
                </p>

                <p>
                    <img alt="" src="https://sun9-14.userapi.com/impg/B0OlWcnbCfqm-3VYzC-LG92tYO2MFUIxu8-dSQ/ywOktvyGz9Y.jpg?size=1920x1440&amp;quality=95&amp;sign=8f8392774755fa82530c56046fedcbac&amp;type=album" style="border:0px; float:left; height:350px; margin:3px; width:130px" />В тот день я опоздал на
                    обед. Я плохо спал ночью, часто просыпался, вслушивался в дыхание Дэниэля. Мне казалось, что он лишь
                    притворяется спящим&hellip; Ну не может же человек из категории &laquo;зет&raquo; вести себя как
                    все! Нормальность Дэниэля была подозрительной&hellip; Но ничего в ту ночь не произошло. Зато я не
                    выспался и ухитрился по-стариковски задремать в кресле.
                </p>

                <p>Дэниэль уже два раза опаздывал к обеду. И оба раза оставался голодным &ndash; выждав положенные
                    двадцать минут, я вываливал его порцию в утилизатор. Теперь у него была возможность
                    расквитаться&hellip;
                </p>

                <p>Устройте &laquo;комфортную тишину в кавычках-елочках&raquo;</p>
                <p><del>Эта строка удалена</del></p>
                <p><s>Эта строка зачеркнута</s></p>
                <p><ins>Это дополнение к документу</ins></p>
                <p><u>Эта строка подчеркнута</u></p>
                <p><small>Эта строка написана мелким текстом</small></p>
                <p><strong>Эта строка написана жирным шрифтом</strong></p>
                <p><em>Эта строка написана курсивом</em></p>
                <p>
                    <iframe frameborder="0" height="180" sandbox="" src="https://music.yandex.ru/iframe/#track/48951/2338182" style="border:none;width:100%;height:180px;" width="100%"> </iframe>
                </p>
            </div>

            <h1 class="title_3">Политика конфиденциальности</h1>

            <p>одиннадцатиклассница и политика конфиденциальности</p>
            <p>
                <img alt="" src="https://sun9-33.userapi.com/impg/86SVsBaKtoG-iM69TcSGiYtzsd1N7wg9jcpy4w/qudcdshd8as.jpg?size=1920x1280&amp;quality=95&amp;sign=35d62261e9774a655e8d4874e055ab8f&amp;type=album" />
            </p>

            <p>
                <span style="background-color:#FFFF00">**</span>
                <strong>
                    <span style="background-color:#FFFF00">убедиться что изображение адаптируется, находится в области контента</span>
                </strong>
                <span style="background-color:#FFFF00">**</span>
            </p>

            <p>&nbsp;</p>

            <p>
                <span style="background-color:#FFFF00">**</span>
                <strong>
                    <span style="background-color:#FFFF00">Списки имеют отступы по уровням. Маркеры, цифры отображаются, цвета соответствуют дизайну. В адаптиве список не прилипает к краю экрана</span>
                </strong>
                <span style="background-color:#FFFF00">**</span>
            </p>

            <ul>
                <li>проверка маркированного списка 1.
                    <ul>
                        <li>проверка маркированного списка 1.1 <a href="#">ссылка в списке - проверить адаптив</a>
                        </li>
                        <li>проверка маркированного списка 1.2 Маркер должен быть центрирован относительно первой
                            строки. Текст если маркер в 2 строке во 2 строке идет не по одной оси аркер должен быть
                            центрирован относительно первой строки. Текст если маркер в 2 строке во 2 строке идет не
                            по одной оси аркер должен быть центрирован относительно первой строки. Текст если маркер
                            в 2 строке во 2 строке идет не по одной оси</li>
                        <li>проверка маркированного списка 1.3 <a href="#">ссылка в списке</a></li>
                    </ul>
                </li>
                <li>проверка маркированного списка 2</li>
                <li>проверка маркированного списка 3</li>
            </ul>

            <ol>
                <li>проверка нумерованного списка 1
                    <ol>
                        <li>проверка нумерованного списка 1.1
                            <ol>
                                <li>проверка нумерованного списка 1.1.1 <a href="#">ссылка в списке - проверить
                                        адаптив</a>
                                        </li>
                                <li>проверка нумерованного списка при большом количестве текста и тексте в несколько
                                    строк маркер выровнен согласно макету проверка нумерованного списка при большом
                                    количестве текста и тексте в несколько строк маркер выровнен согласно макету
                                </li>
                                <li>проверка нумерованного списка 1.1.2</li>
                                <li>проверка нумерованного списка 1.1.3</li>
                            </ol>
                        </li>
                        <li>проверка нумерованного списка 1.2</li>
                        <li>проверка нумерованного списка 1.3</li>
                    </ol>
                </li>
                <li>проверка нумерованного списка 2</li>
                <li>проверка нумерованного списка 3</li>
            </ol>

            <p>
                <span style="background-color:#FFFF00">**</span>
                <strong>
                    <span style="background-color:#FFFF00">Таблица адаптируется, стили соответствуют дизайну. Если дизайна нет: соответствует цветовой схеме сайта, имеет отступы</span>
                </strong>
                <span style="background-color:#FFFF00">**</span>
            </p>

            <table>
                <tbody>
                    <tr></tr>
                </tbody>
                <thead>
                    <tr>
                        <th>Получить бесплатную консультацию специалиста</th>
                        <th>Получить бесплатную консультацию специалиста</th>
                        <th>Получить бесплатную консультацию специалиста</th>
                        <th>Получить бесплатную консультацию специалиста</th>
                        <th>Получить бесплатную консультацию специалиста</th>
                        <th>Получить бесплатную консультацию специалиста</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Получить бесплатную консультацию специалиста</td>
                        <td>Получить бесплатную консультацию специалиста</td>
                        <td>Получить бесплатную консультацию специалиста</td>
                        <td>Получить бесплатную консультацию специалиста</td>
                        <td>Получить бесплатную консультацию специалиста</td>
                        <td>Получить бесплатную консультацию специалиста</td>
                    </tr>
                    <tr>
                        <td>Получить бесплатную консультацию специалиста</td>
                        <td>Получить бесплатную консультацию специалиста</td>
                        <td>Получить бесплатную консультацию специалиста</td>
                        <td>Получить бесплатную консультацию специалиста</td>
                        <td>Получить бесплатную консультацию специалиста</td>
                        <td>Получить бесплатную консультацию специалиста</td>
                    </tr>
                    <tr>
                        <td>Получить бесплатную консультацию специалиста</td>
                        <td>Получить бесплатную консультацию специалиста</td>
                        <td>Получить бесплатную консультацию специалиста</td>
                        <td>Получить бесплатную консультацию специалиста</td>
                        <td>Получить бесплатную консультацию специалиста</td>
                        <td>Получить бесплатную консультацию специалиста</td>
                    </tr>
                </tbody>
            </table>

            <a class="document document_doc" href="#">Ссылка на документ</a>

            <blockquote>
                <strong>blockquote.</strong> Единственной космической субстанцией Гумбольдт считал материю,
                наделенную внутренней активностью, несмотря на это художественное переживание теоретически
                оспособляет обязательственный обычай делового оборота. Эффект &quot;вау-вау&quot;, на первый взгляд,
                создает сангвиник. Говорят также о фактуре, типичной для тех или иных жанров (&quot;фактура
                походного марша&quot;, &quot;фактура вальса&quot; и пр.), и здесь мы видим, что гений
                рассматривается композиционный объект права.
            </blockquote>

            <p class="lead"><strong>lead.</strong>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.</p>
            <h3>Заголовок отображения <small>С выцветшим вторичным текстом</small></h3>
            <p><small>small. Это текст small</small></p>

            <p>
                <span style="background-color:#FFFF00">**</span>
                <strong>
                    <span style="background-color:#FFFF00">Ссылка в тексте отличается от текста. Соответствует дизайну или цветовой схеме сайта</span>
                </strong>
                <span style="background-color:#FFFF00">**</span>
            </p>

            <p>Это первый абзац <a href="#">ссылка в тексте</a></p>
            <p>Это второй абзац</p>
            <p>
                <span style="background-color:#FFFF00">**</span>
                <strong>
                    <span style="background-color:#FFFF00">Заголовки с длинными словами входят на 360, Размер h1 такой же как в заголовке страницы</span>
                </strong>
                <span style="background-color:#FFFF00">**</span>
            </p>
            <h1>h1. Одиннадцатиклассница и политика конфиденциальности</h1>
            <h2>h2. Одиннадцатиклассница и политика конфиденциальности</h2>
            <h3>h3. Одиннадцатиклассница и политика конфиденциальности</h3>
            <h4>h4. Одиннадцатиклассница и политика конфиденциальности</h4>
            <h5>h5. Одиннадцатиклассница и политика конфиденциальности</h5>
            <h6>h6. Bootstrap heading</h6>
            <p>
                <span style="background-color:#FFFF00">**</span>
                <strong>
                    <span style="background-color:#FFFF00">Фрейм адаптируется</span>
                </strong>
                <span style="background-color:#FFFF00">**</span>
            </p>

            <p>
                <iframe frameborder="0" height="315" sandbox="" src="https://www.youtube.com/embed/20Ap1kH8wuU" width="560"></iframe>
            </p>
            <h2>одиннадцатиклассница и политика конфиденциальности</h2>
            <p>Экран погас. <span class="marker">Я отошел на несколько шагов, достал предписанный инструкцией лайтинг.</span> Белая вспышка &ndash; и компьютерный терминал с видеофоном превращаются в груду оплавленного металла. Из угла с растерянным гудением вылезла полусфера киберуборщика. Все. До самой Земли я перестаю быть членом экипажа &laquo;Антареса&raquo;. Дэниэль Линк, категория &laquo;зет&raquo; станут моей судьбой.</p>
            <p>
                <span style="background-color:#FFFF00">**</span>
                <strong>
                    <span style="background-color:#FFFF00">Это фото размером 300px</span>
                </strong>
                <span style="background-color:#FFFF00">**</span>
            </p>

            <p>
                <img alt="" src="https://sun9-14.userapi.com/impg/B0OlWcnbCfqm-3VYzC-LG92tYO2MFUIxu8-dSQ/ywOktvyGz9Y.jpg?size=1920x1440&amp;quality=95&amp;sign=8f8392774755fa82530c56046fedcbac&amp;type=album" style="border:0px; width: 300px;" />
            </p>

            <p>&hellip;Жилой ярус невелик. Три каюты, столовая, комната отдыха, маленькая оранжерея, пузырем
                выступающая над броней корабля. Я прошел по коридорам, собирая те немногие инструменты, что здесь
                нашлись. Отвертки, тестеры, щупы, ультразвуковой резак &ndash; все острое и тяжелое&hellip; Я
                сбросил эту груду металла в жадно раскрытый люк утилизатора. Подумал и отправил туда же лазерный
                дальномер. Его луч не смертелен, но может ослепить.</p>

            <p>По короткому и узкому коридору я пошел к своей каюте. Постоял секунду, потом открыл дверь.</p>

            <p>Дэниэль сидел на кровати. Он уже успел переодеться &ndash; на нем был синий спортивный костюм, а
                мокрая куртка висела в шкафу. На столе лежали тонкие книжки в разноцветных обложках. Я взял одну
                &ndash; это оказались комиксы. Почувствовав тепло руки, жидкокристаллический рисунок ожил.
                Обвешанный оружием космодесантник мужественно усмехнулся, вскинул деструктор &ndash; армейскую
                модель, совершенно неподъемную. Ствол деструктора слегка выступил над обложкой. Эффектно&hellip;
                Мальчишка молча смотрел на меня. Я откинул вторую койку:</p>

            <p>&ndash; Будешь спать здесь.</p>
            <p>&ndash; Хорошо.</p>
            <p>&ndash; Без моего разрешения ты не должен выходить из каюты. Желтая дверь &ndash; туалет, голубая &ndash; душ.</p>
            <p>&ndash; Я знаю. А мы долго будем лететь?</p>
            <p>&ndash; Пока не прилетим.</p>
            <p>Я взглянул на часы.</p>
            <p>&ndash; Старт через полчаса, необходимо лечь и пристегнуться&hellip;</p>
            <p>&ndash; Я знаю.</p>
            <p>&ndash; Еще через полчаса &ndash; обед. Столовая направо, в конце коридора.</p>
            <p>
                <img alt="" src="https://sun9-14.userapi.com/impg/B0OlWcnbCfqm-3VYzC-LG92tYO2MFUIxu8-dSQ/ywOktvyGz9Y.jpg?size=1920x1440&amp;quality=95&amp;sign=8f8392774755fa82530c56046fedcbac&amp;type=album" style="border:0px; float:left; height:160px; width: 110; margin:3px; width:130px" />
                <span style="background-color:#FFFF00">**</span>
                <strong>
                    <span style="background-color:#FFFF00">изображение с флоатом. Есть отступ от текста. Предусмотреть чтобы в адаптиве текст не вставал тонкой полосой рядом с фото</span>
                </strong>
                <span style="background-color:#FFFF00">**</span> Дэниэль только кивнул в ответ. Похоже, он немного
                испугался моего тона &ndash; его лицо побледнело. На секунду мне стало жаль этого мальчишку, не
                понимающего, в чем его вина. Дэниэль смотрел на меня со слабой надеждой &ndash; похоже, он ждал, что
                я улыбнусь или скажу ему что-нибудь ласковое. Я заставил себя отвернуться и вышел из каюты.
                Категория &laquo;зет&raquo;. Дэниэль Линк представляет потенциальную угрозу для человечества.
            </p>

            <p>Мы летели вдали от пассажирских трасс. Война с Лотаном в полном разгаре, и вражеские патрули
                охотились за такими беззащитными скорлупками, как наш &laquo;Антарес&raquo;. Лишь безвыходная
                ситуация могла заставить офицеров Службы безопасности Десантного Корпуса использовать нашу посудину
                для пересылки арестованного. Дни тянулись за днями, неотличимые друг от друга. Утром, когда Дэниэль
                еще спал, я выходил в оранжерею и пытался определить наши координаты по рисунку созвездий. Отсюда,
                из двадцатиметрового стеклянного купола, заросшего цветами и самой прозаической картошкой, был
                прекрасный обзор. Потом мы завтракали, убирали посуду (само собой вышло так, что мы начали делать
                это по очереди). До обеда я сидел в комнате отдыха и листал старые номера &laquo;Космического
                вестника&raquo;. Впрочем, после обеда я делал то же самое&hellip; А Дэниэль сидел в каюте.
                <img alt="" src="https://source.unsplash.com/300x300" style="float:right" /> 
                Он вообще старался не
                попадаться мне на глаза. Наводил порядок (а на &laquo;Антаресе&raquo;, где два-три раза в сутки
                отключалась гравитация, это непросто). Умело пользовался душем, как опытный астронавт дежурил на
                кухне. Скоро я понял, что он привык к жизни на кораблях. Привык настолько, что я даже боялся
                предположить, сколько уже длится его путь к Земле. Да и не нужно мне этого знать. Случай занес
                Дэниэля Линка в категорию &laquo;зет&raquo;, случай привел на наш корабль, случай сделал меня
                конвоиром. На Земле я передам его красношевронникам и постараюсь забыть.
            </p>

            <p>
                <span style="background-color:#FFFF00">**</span>
                <strong>
                    <span style="background-color:#FFFF00">Фото с фиксированной высотой не сплющивается в адаптиве</span>
                </strong>
                <span style="background-color:#FFFF00">**</span>
            </p>

            <p>
                <img alt="" src="https://sun9-14.userapi.com/impg/B0OlWcnbCfqm-3VYzC-LG92tYO2MFUIxu8-dSQ/ywOktvyGz9Y.jpg?size=1920x1440&amp;quality=95&amp;sign=8f8392774755fa82530c56046fedcbac&amp;type=album" style="border:0px; float:left; height:350px; margin:3px; width:130px" />В тот день я опоздал на
                обед. Я плохо спал ночью, часто просыпался, вслушивался в дыхание Дэниэля. Мне казалось, что он лишь
                притворяется спящим&hellip; Ну не может же человек из категории &laquo;зет&raquo; вести себя как
                все! Нормальность Дэниэля была подозрительной&hellip; Но ничего в ту ночь не произошло. Зато я не
                выспался и ухитрился по-стариковски задремать в кресле.
            </p>

            <p>Дэниэль уже два раза опаздывал к обеду. И оба раза оставался голодным &ndash; выждав положенные
                двадцать минут, я вываливал его порцию в утилизатор. Теперь у него была возможность
                расквитаться&hellip;
            </p>

            <p>Устройте &laquo;комфортную тишину в кавычках-елочках&raquo;</p>
            <p><del>Эта строка удалена</del></p>
            <p><s>Эта строка зачеркнута</s></p>
            <p><ins>Это дополнение к документу</ins></p>
            <p><u>Эта строка подчеркнута</u></p>
            <p><small>Эта строка написана мелким текстом</small></p>
            <p><strong>Эта строка написана жирным шрифтом</strong></p>
            <p><em>Эта строка написана курсивом</em></p>
            <p>
                <iframe frameborder="0" height="180" sandbox="" src="https://music.yandex.ru/iframe/#track/48951/2338182" style="border:none;width:100%;height:180px;" width="100%"> </iframe>
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi officia non voluptatum facere beatae iure! Fugiat impedit dolor ducimus veritatis?</p>
            <ul>
                <li>123</li>
                <li>456</li>
            </ul>

            <div class="block">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi officia non voluptatum facere beatae iure! Fugiat impedit dolor ducimus veritatis?</p>
            </div>

            {{> video/video-open }}
            {{> video/video-open }}

            <div class="block">
                {{> video/video-open }}
                {{> video/video-open }}
            </div>
        </div>
    </section>

</main>

{{> layout/footer}}
{{/common/body}}