<div class="decor">
    <div class="decor__tickets">
        <div class="decor__tickets_top">
            <div class="decor__tickets_top__1"></div>
            <div class="decor__tickets_top__2"></div>
            <div class="decor__tickets_top__3"></div>
        </div>
        {{!-- <div class="decor__tickets_bottom">
            <div class="decor__tickets_top__1"></div>
            <div class="decor__tickets_top__2"></div>
            <div class="decor__tickets_top__3"></div>
        </div> --}}
    </div>
</div>