{{#> common/body
title=pages.error.pageTitle
class="error page"
}}

{{> layout/header}}

<main class="main">

    <div class="container">
        {{> menu/bottom menuClass="_desktop" }}
    </div>

    <section class="error__wrapper">
        <div class="container">
            <h1 class="">404</h1>
            <img src="img/decor/404.svg" alt="">
            <p class="error__text subtitle">кажется, ты потерялся,<br>попробуй начать <a href="#">сначала</a></p>
        </div>
    </section>

</main>

{{> layout/footer}}
{{/common/body}}